extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Marcelo Peruzzo",
      subtitle: "Palestrante, Consultor e Professor da FGV Management",
      description: "Conheça a brilhante história de vida de Marcelo Peruzzo, desde suas motivações na infância até suas ideias mais recentes, que o levaram ao mundo do Neuromarketing, Tecnologia e Blockchain (bitcoin).",
      video: videos.marceloperuzzo,
    }
  - var darkBG = true;

