//- Featured Object: /views/_data/featured.pug

section#home-cover.featured.cover(style="background-image: url(" + featured.cover.bg + ");")
  .row
    article.cover-video
      figure.cover-video--category
        img(src=featured.cover.category.img.white, alt="Logotipo da série "+ featured.cover.category.name+ " do "+ siteName)
      h2.cover-video--title #{featured.cover.title}
      p.cover-video--description #{featured.cover.description}   
      

    a(href="#open-video", title="Assista o vídeo de "+featured.cover.title+" no "+featured.cover.category.name+" do "+siteName, rel='noopener noreferrer').play-button 
      img(src="img/icons/icon-play--white.svg", alt="Ícone de Play")

  .row
    include partners.pug