header#header.header
  +logo(darkBG ? siteLogo.white : siteLogo.black, "/", "Mentores Online", darkBG ? "white" : "black")
  if darkBG
    +logo(siteLogo.black, "/", "Mentores Online", "black")

  include ../components/nav.pug

  button#openNav(class="header-mobile-button" + (darkBG ? " --white" : " --black")) Menu