if partners
  section#partners.partners
    h3.partners--title Quem nos ajuda a inspirar pessoas
    ul.partners--logos
      each partner in partners
        li.partner--logo
          img(src=partner.img, alt="Logo tipo do parceiro: " + partner.name)