if partners
  section#partners.partners
    h3.partners--title Quem nos ajuda a inspirar pessoas
    ul.partners--logos
      //- [PARTNERS] Object referenced from: /views/_data/partners.pug
      each partner in partners
        li.partner--logo
          img(src="/img/partners/logo-partner--" + partner.logo + ".png", alt="Logo tipo do parceiro: " + partner.name)