section#quote.quote(style="background-image: url(/img/quote-of-the-day/qotd-bg--picasso.jpg);")
  article.quote-message
    q.quote-message--text Que a inspiração chegue, não dependa de mim. A única coisa que posso fazer é garantr que ela me encontre trabalhando.
    address.quote-message--author Pablo Picasso

  //- SocialShare component referenced from: /views/components/social-share.pug
  //-
  //- siteShare object referenced from: /views/includes/vars.pug
  //- .social-share(style="background-image: url("+siteShare.bg+");")
  //-   each social in siteShare.socials
  //-     +socialShare(social, true)