section#seriesCategories.series-categories
  h2.series-categories--title Séries originais
  h3.series-categories--subtitle 
    | Contamos histórias de empreendedores e suas trajetórias de sucesso.

  section.series-categories--covers
    //- Loop through all Categories.
    //- categoriesArray is the array from the Categories object: /views/_data/categories.pug
    each category in categoriesArray
      //- Serie Cover component referenced from: /views/components/serie-cover.pug
      +serie-cover(category)