extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Barão da Navalha",
      subtitle: "Conheça a história da Barão da Navalha.",
      description: "Conheça a história da Barão da Navalha.",
      video: videos.baraodanavalha,
    }
  - var darkBG = true;