.featured-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-top: -8rem;
  @extend %padding;

  .video-card {
    max-width: calc(33% - 1rem);
  }
}