.footer {

  @extend %padding;
  padding-top: 5rem;
  padding-bottom: 5rem;

  background: radial-gradient(212.50px at 50% 50%, #141517 0%, #070707 100%);

  @media screen and (max-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media screen and (max-width: 480px) {
    padding-bottom: 3rem;
  }

  .footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      @extend %title;
      @extend %--normal;
      @extend %--light;

      font-weight: 700;
      text-align: center;

      margin-bottom: 1rem;
    }

    &--form {
      max-width: 900px;
      width: 100%;

      margin-bottom: 6rem;

      @media screen and (max-width: 768px) {
        margin-bottom: 3rem;
      }

      @media screen and (max-width: 767px) {
        .input {
          &--group {
            flex-wrap: wrap;
          }
  
          &--submit {
            margin: 1rem auto;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap-reverse;
    }

    &--copyright {
      display: flex;

      @media screen and (max-width: 768px) {
        justify-content: center;

        width: 100%;
      }

      @media screen and (max-width: 480px) {
        flex-wrap: wrap;
      }
      
      p {
        font-size: .9rem;
        
        margin-left: 10px;

        color: white;
        opacity: .8;

        @media screen and (max-width: 768px) {
          font-size: .75rem;
        }

        @media screen and (max-width: 480px) {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }

    &--social {
      display: flex;
      
      @media screen and (max-width: 768px) {
        justify-content: center;
        
        width: 100%;
        margin-bottom: 3rem;

        & > a {
          margin-left: 30px;
        }
      }
    }
  }
}