.footer {

  @extend %padding;
  padding-top: 5rem;
  padding-bottom: 5rem;

  background: radial-gradient(212.50px at 50% 50%, #141517 0%, #070707 100%);

  .footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      @extend %title;
      @extend %--normal;
      @extend %--light;

      font-weight: 700;

      margin-bottom: 1rem;
    }

    &--form {
      max-width: 900px;
      width: 100%;

      margin-bottom: 6rem;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;

    &--copyright {
      display: flex;
      
      p {
        font-size: .9rem;
        
        margin-left: 10px;

        color: white;

        opacity: .8;
      }
    }

    &--social {
      display: flex;
    }
  }
}