.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;

  &--title {
    @extend %pre-title;
    @extend %--normal;
    @extend %--light;
  }
  &--logos {
    display: flex;
    justify-content: center;
  }
}

.partner--logo {
  max-width: 100px;
  margin: 1rem 2rem;
  
  img {
    opacity: .7;
  }
}