.series-categories {
  padding-right: calc((100vw - 1300px) / 2);
  padding-left: calc((100vw - 1300px) / 2);

  &--title {
    @extend %title;
    @extend %--medium;
    
    line-height: 1;
    text-align: center;

    margin-bottom: 1rem;
  }

  &--subtitle {
    font-family: $font-family--text;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

    color: $color--gray;

    margin-bottom: 4rem;
  }

  &--covers {
    display: flex;
  }
}