.supporters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
  padding-top: 5rem;
  padding-right: calc((100vw - 1100px) / 2);
  padding-left: calc((100vw - 1100px) / 2);
  padding-bottom: 8rem;

  &--title {
    font-family: $font-family--title;
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-top: 1rem;
    margin-bottom: 1rem;

    color: $color--gray;

    opacity: .7;
  }
  &--logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.supporter--logo {
  max-width: 90px;
  margin: 2rem 2rem;
}