extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Bruno Selva & Simone Cesa",
      subtitle: "Brasileiros no Vale do Silício",
      description: "O Mentores Online foi até o vale do silício e entrevistou dois Brasileiros que trabalham em gigantes da tecnologia. Bruno Selva e Simone Cesa falam como é trabalhar e morar no berço da inovação nos Estados Unidos.",
      video: videos.brunoesimone,
    }
  - var darkBG = true;