extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Restaurante Camila's",
      subtitle: "Um pedaço do Brasil em Miami.",
      description: "Conheça a história de vida de Leonardo Charamba, pernambucano, e Alex Alencar, paraibano. A dupla começou como funcionários comuns do restaurante Camila’s.",
      video: videos.camilas,
    }
  - var darkBG = true;