extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Marcos Gracher",
      subtitle: "Diretor do Grupo Wave e propriet치rio da Academia Wave.",
      description: "Em um formato de document치rio, amigos e familiares contam em detalhes v치rias etapas da vida de Marcos Gracher, diretor do Grupo Wave e propriet치rio da Academia Wave considerada uma das maiores academias do Brasil.",
      video: videos.marcosgracher,
    }
  - var darkBG = true;