extends ../../templates/default.pug

block pageVars
  -
    var page = {
      name: "Sobre",
      title: "Sobre o Projeto",
      subtitle: "Somos inspirados por você.",
      description: "O Mentores Online é um projeto que torna acessível conteúdos no segmento do empreendedorismo para todos, especialmente você. Produzimos vídeos com conceito de documentários curtos que contam a história de vida e jornada de negócios de sucesso. Nossa missão é inspirar pessoas do mundo todo a atingirem seus próprios objetivos e sucesso, na vida pessoal ou profissional."
    }
  - var darkBG = false;

block content
  main#sobre.page
    section.sobre-cover
      h2.sobre-cover--title Ideias inspiram mudanças.
      //- p.sobre-cover--subtitle  Nossa ideia é inspirar o seu sucesso.
      
      a(href="#o-projeto", title="Conheça o projeto").scroll-down.--red Conheça o projeto

    
    section#o-projeto.sobre-projeto
      h3.sobre-projeto--text
        | O 
        span Mentores Online 
        | é uma plataforma especializada em produzir conteúdos sobre empreendedorismo, comportamento e inovação. Produzimos vídeos com conceito de documentários que contam a 
        span história de pessoas que são autoridade 
        | em suas áreas de atuação.

    section#categorias.sobre-categorias
      #videoCardBG
      h3.sobre-categorias--title Aprenda com quem já fez acontecer
      p.sobre-categorias--subtitle Nossas séries originais saem da hipótese do que pode ser, ou o que será. 
        a(href="/series", title="Link para a página de séries").link.--red.--bold Comece a aprender agora.

      .sobre-categorias--list
        each category in categories
          .category-info(id=category.meta + "-info")
            h4.category-info--title= category.name
            img(src="/img/logos/logo-serie--" + category.images.logo.black + ".svg", alt=category.name + " no " + siteName).category-info--logo
            p.category-info--description= category.description

        a(href="/series.html", title="Link para acessar o catálogo de vídeos").sobre-categorias--link Acesse o nosso catálogo

    section#sobre-quote.sobre-quote
      article.sobre-quote-message
        q.sobre-quote-message--text 
          | Não podemos ajudar todos, 
          br 
          | mas todos podem ajudar alguém.
        address.sobre-quote-message--author – Ronald Reagan

      .row
        include ../../sections/partners.pug