extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Teco Padaratz",
      subtitle: "Bi-campeão de Surfe, Ator e Músico",
      description: "Flávio Padaratz, mais conhecido como Teco Padaratz, compartilha sua história e visão de vida, desde que era pequeno até atingir seu sucesso, e o que sucesso significa para ele. Sua energia e personalidade tornam suas conquistas em ensinamentos para todos ao seu redor.",
      video: videos.tecopadaratz,
    }
  - var darkBG = true;

block transcription
  .row
    .col
      h2 Introdução
      p
        | Desde criança eu sou famoso por ser um cara muito agitado e falante. Todo mundo que me conhece sabe que eu sou assim. Na roda de alguns amigos, eu sou chamado de “gralha” porque eu falo alto, e falo muito! Mas não falo mal, falo bem! Eu aprendi essa arte (de me comunicar), e foi através dessa personalidade que eu conquistei tudo na minha vida—o talento pra surfar, e várias outras coisas que eu faço. 
      p 
        | Conquistei a determinação, meus objetivos, minha carreira, minha família, tudo dessa forma. Então sempre você vai me ver assim: falante, comunicativo.
      p 
        strong Eu sou o Teco Padaratz, e estou no Raio-X do Mentores Online! Se liga, malandro!

  .row
    .col
      h2 Como tudo começou
      p
        | Eu nasci em Blumenau, em 19 de Abril de 1971. Vim morar em Balneário Camboriú quanto tinha 6 ou 7 anos de idade, em 1977-78. 
      p 
        | Logo tive contato com o mar, mas também com outros esportes. Meu primeiro esporte, depois do futebol, no colégio, foi o judô e o basquete—principalmente o judô. Inclusive, minha mãe me colocou no judô porque um amigo dela recomendou. Como eu era muito nervosinho, e falava demais, ele disse “bota ele na aula de judô, que ele vai se acalmar. Vai botar pra fora toda a energia que tem, e vai aprender sobre disciplina e respeito.” 
      p 
        | Dito e feito; ali foi onde conseguiram me acalmar. Foi aí que minha mãe começou a ter um controle maior sobre as minhas reações, e minha vida em geral.
      p 
        | À partir do judô, já me envolvi em outros esportes—nunca consegui ficar parado… Fui jogar basquete. Ironia do destino, eu era o “tampinha” do time. Mas eu era o cestinha, porque fazia muitas cestas de 3 pontos. Até hoje eu gosto de arremessar de longe, e gosto do basquete. 
      h3
        | Sucesso é ser feliz, fazer o que gosta, ter uma boa família e saúde. Não precisa muito mais do que isso.
      p 
        | Mas quando eu comecei a pegar onda, ali pelos 12-13 anos, que eu comecei a me jogar no mar direto… Primeiro como uma brincadeira, mas depois que passei a ter minha prancha, comecei a ir pra água todo dia. 
      p 
        | E foi imbatível. O mosquitinho do surf me pegou. E foi aí que eu criei a minha carreira. Encontrei o Avelino Bastos, que projetou um surfista brasileiro pro mundo. Eu fui esse cobaia, esse instrumento do projeto dele. Mergulhei de cabeça nesse projeto, me tornei um grande surfista, tive uma carreira de sucesso… Mas foi quando me aposentei que comecei a conquistar minha verdadeira imagem.
      p 
        | De novo, comecei a perceber o como eu era comunicativo: passei a ser representante dos atletas, representante das etapas do Brasil, o representante o surf na mídia… Comecei a trabalhar na mídia como apresentador e comentarista, me comuniquei de várias formas—tenho banda, participo de filmes, sou ator. Já produzi e dirigi filmes, e tudo na parte da comunicação. Foi ali que eu descobri minha verdadeira personalidade, por definitivo.
      p 
        | Aliás, é um sonho realizado, porque eu faço o que eu gosto. Isso é o segredo do sucesso. Porque sucesso é isso: é fazer o que gosta, não ganhar dinheiro ou ser famoso. Isso são trabalhos. Sucesso é ser feliz, fazer o que gosta, ter uma boa família e saúde. Não precisa muito mais do que isso.

  .row
    .col
      h2 Qual a sua essência?
      p
        | Apesar de eu fazer muita coisa, dentro de casa, quem toma esse posto é minha esposa, Gabriela. Ela quem assume a frente de todas as coisas. Ela é muito mais rápida do que eu, se é que isso é possível! Hahaha.
      p
        | Ela é muito imediatista, e exige muito, tanto de mim, quanto das nossas filhas… No bom sentido, eu digo, porque ela quer o melhor da gente.
      p
        | Mas dentro de casa, eu tenho o poder o Supremo Tribunal Federal: quando os problemas não se resolvem nas instancias abaixo, sobra pra mim. E eu tenho que tomar a decisão, e não tenho a quem ligar—tenho que impor uma certa decisão final sobre qualquer assunto.
      p
        | Sou um cara bonzinho, preguiçoso, me mexo pouco, sabe? Tenho 3 mulheres dentro de casa, mais 2 cachorrinhas, sou o único homem da casa, então ganho muitas regalias, hahaha. Me aproveito um pouquinho… Mas sempre no bom sentido, sempre no carinho.
      p
        | Gosto muito da família que eu tenho. Gosto de conviver com elas. Sei que daqui a pouco minhas filhas tocarão suas vidas pelo mundo, e nós vamos sentir saudades, mas por enquanto somos um time. Eu faço o papel de capitão do time. Mas é só o que eu faço, porque quem faz gol são os outros, hahahaha.

  .row
    .col
      h2 Como você vê o mundo?
      p
        | Eu vejo o mundo como uma grande passagem. É como você ir visitar a casa de um amigo, ou visitar a casa de um parente por um final de semana: você vai usufruir de tudo aquilo que é legal de lá, mas vai deixar sua bagunça, seus comentários, sua marca… Alguma coisa vai ficar ali, pra que, quando você for embora, os outros comentem, e vão aprender ou desaprender com o que você deixou.
      p
        | Eu vejo o mundo como uma oportunidade de você deixar a sua marca, de você fazer o seu papel. A gente está aqui numa grande aprovação, e a gente tem, sim, o que provar—provavelmente para nós mesmos, na nossa trajetória no universo. 

      h3
        | Eu vejo o mundo como uma oportunidade de você deixar a sua marca, de você fazer o seu papel.
      p
        | O mundo é um lugar de experiências. É uma pena que o ser-humano judia dele… É a casa dele, né. O mundo recebe ele de braços abertos, com tanta harmonia. É só olhar a natureza, como ela é. O planeta está ali, lindo, e olha o que a gente faz com ele.

  .row
    .col
      h2 De que forma você quer que o mundo te veja?
      p
        | Como um cara que tenta fazer sempre a coisa no bom sentido—no sentido positivo—fazer o bem pra si, e para os outros.
      p
        | Pode parecer um pouco egoísta, né? Eu não ponho os outros na frente da minha lista de prioridades. Eu acho que se eu estiver inteiro, eu posso ajudar os outros melhor. Então eu procuro estar inteiro—100%. Aí, de fato, eu ajudo bastante gente.
      p
        | Ajudo aleatoriamente, não tem uma causa fixa que eu vá ajudar. Em todo o lugar estou ajudando pessoas, causas, organizações, instituições, empresas, colégios, universidades, os jovens… 
      p
        | Nesse eu tenho uma fixação maior: com o jovem. Porque eu vejo um potencial ali. Se colocarmos a semente certa ali dentro, pode gerar resultados incríveis. A gente já viu isso acontecer. Tirar o poder da mão de apenas um cidadão—o poder corrompe. Podemos até criticar, mas se dessem um poder desses (de político) nas nossas mãos, a grande maioria faria as mesmas coisas.
      h3
        | Eu tenho uma fixação com o jovem. Se colocarmos a semente certa ali dentro, pode gerar resultados incríveis.

  .row
    .col
      h2 Minha maior qualidade?
      p
        | Não é porque eu não acho qualidade, é porque eu fico sem jeito de falar de qualidade. Eu defendo que, qualidade, quem deve falar são os outros. Eu falo sobre os meus defeitos.
      p
        | Eu gostaria de ser um cara um pouco mais paciente, tolerante e impulsivo.
      p
        | Minhas qualidades, eu sei lá… Pergunta pra minha mulher o que ela acha, ou pras minhas filhas, hahaha.

  .row
    .col
      h2 Como encarar e superar dificuldades?
      p
        | Eu adoro dificuldades.
      p
        | Eu tenho um apreço especial por momentos de dificuldade. Usando a analogia da competição: é na derrota que a gente aprende. É ali que descobrimos os nossos defeitos, inevitavelmente.
      h3
        | As dificuldades só servem pra fazer a gente crescer. É no caos que existe a evolução.
      p
        | Existe um ditado: “quem bate pode não se lembrar, mas quem apanha, nunca esquece.” Isso é porque quem bate tá usando de alguns impulsos instintivos do ser-humano: explosão, desabafo… Ele está colocando algo para fora. Quem apanha, está colocando algo para dentro—recebendo uma energia de fora para dentro, brutalmente.
      p
        | Como vivemos em um mundo muito “dentro da nossa casinha”, a gente precisa de uma “porrada” da vida. É uma chance que a gente tem de abrir os olhos, e ver o que estamos fazendo de errado.
      p
        | As dificuldades só servem pra fazer a gente crescer. É no caos que existe a evolução. É na dificuldade que aprendemos a dar valor às coisas.

  .row
    .col
      h2 O que é um problema para você?
      p
        | Quando eu não posso assumir o problema, e geralmente eu assumo os problemas, isso se torna um problema para mim. Quando eu fico de mãos atadas, e não tenho como resolver—é a pessoa quem tem que resolver. 
      p
        | Por exemplo: um cara viciado em drogas, jogado na rua. Eu gostaria de resolver o problema dele, mas eu não posso. A opção e a escolha é dele. Quando ele acordar de manhã, ele não vai nem lembrar de mim, ele vai pensar nele. E tu vai pensar nele. Ele quem tem a decisão. E ali eu fico “mordido”… 
      p
        | Isso, pra mim, é um problema. Como eu vou resolver a vida do outro quando ele comete um erro?
      p
        | Você abre o jornal em qualquer canal, parece que a mídia, em geral, só enxerga isso. São poucos os canais, como o Mentores Online, que transmitem coisa boa. A gente tem que valorizar. 

  .row
    .col
      h2 O que te tira do sério?
      p
        | Cara…
      p
        | Fome me tira do sério.
      p
        | Transito me tira do sério.
      p
        | Lembra quando eu falei do problema? Quando o problema não é em mim, e eu tenho que resolver fora de mim, na cabeça de alguém, o problema… Entra no transito, e analisa a atitude das pessoas!
      p
        | O trânsito é o cartão de visitas de qualquer cidade. Quando você anda no trânsito de uma cidade, você começa a ver a personalidade do cidadão, em geral. É ali que eles mostram quem são, inevitavelmente, sem perceber. 
      h3
        | É incrível como a gente mostra os nossos defeitos pros outros o tempo todo, e não percebe, como se ninguém estivesse olhando.
      p
        | E o transito me tira do sério. Eu vejo muitas pessoas arrogantes, outras com medo. 
      p
        | Como eu dou palestra, e dou cursos sobre desenvolvimento pessoal, eu consigo analisar direitinho. Uma das técnicas que eu uso é colocar a pessoa dentro da água, alguém que nunca surfou. Faço isso com umas cinco pessoas, com a mesma prancha, para pegar ondas iguais, e fico observando a atitude de cada uma, diante daquilo que foi passado. A situação é deles—a situação é a mesma para cada um deles, mas todos reagem de maneira completamente diferente. E ali você vê a diferença de cada pessoa.
      p
        | É incrível como a gente mostra os nossos defeitos pros outros o tempo todo, e não percebe, como se ninguém estivesse olhando. Hahahaha.
      p
        | Quando você vai no mercado, ou na padaria, e o atendente olha pro lado, e não dá atenção pra você. Ali ele já se mostrou e não percebeu. E isso me tira do sério! Eu fico maluco. Como a pessoa não tem um desconfiômetro? Hahahaha.

  .row
    .col
      h2 O que é mais importante?
      p
        | O que eu dou mais importância na minha vida é: primeiro a saúde (física, mental e espiritual). A minha, porque a dos outros não cabe a mim. Mas quando eu me coloco diante dos outros, o que eu dou mais importância é o respeito do espaço e da personalidade da pessoa, e do meu também. Se soubéssemos respeitar, tudo melhoraria: a comunicação, a ajuda, os conflitos.
      p
        | Parece que o ser-humano está perdendo o respeito, em grande parte da população. E eu prezo por isso. Se você começa a aplicar o respeito dentro de casa, você percebe que a família começa a não ter mais problema. Porque tudo o que era problema passa a ser uma oportunidade: de mostrar amor, de mostrar carinho, compaixão. 
      p
        | É através do respeito que você consegue tudo isso, entendeu? Estou querendo frisar bem nessa palavra esse ano.
      h3
        | Se soubéssemos respeitar, tudo melhoraria: a comunicação, a ajuda, os conflitos.

  .row
    .col
      h2 Qual a sua missão?
      p
        | Na vida, é viver ao máximo.
      p
        | Porque, se eu fui abençoado com a vida, abri os olhos e tive essa oportunidade, o melhor que eu tenho a fazer por isso é viver ao máximo. Viver o melhor da vida—a melhor parte dela.
      h3
        | Essa é a minha missão: poder viver e deixar esse exemplo de amor à vida (minha e de todos à minha volta).
      p
        | E não vamos confundir esse processo. Muita gente vai pejorar o que eu to falando sobre “a melhor parte da vida”. Vai aonde bate, lá no fundo do coração, o que é melhor pra você.
      p
        | Essa é a minha missão: poder viver e deixar esse exemplo de amor à vida (minha e de todos à minha volta). A vida é linda. Por que temos que matar, roubar? Por que temos que fazer tudo isso o que nos afasta da vida, do que há de melhor?
      p
        | Nós temos a oportunidade de uma coisa natural demais, muito explícito, viceral demais. São muitas sensações lindas que a gente tem a oportunidade de vivenciar. É isso o que eu queria deixar para as pessoas—assim que eu gostaria de ser lembrado.
  
  .row
    .col
      h2 Qual a sua missão?
      p
        | Eu ia ficar muito puto. 
      p
        | Eu odeio esse negócio de previsão, hora marcada… Eu ficaria muito puto que hoje era meu último dia. Eu não ficaria puto porque eu só teria 24 horas. Eu iria viver elas do mesmo jeito que eu venho vivendo até agora.
      p
        | Eu ia ficar puto porque me contaram. Hahahaha.
      h3
        | A gente quem faz o próprio futuro. Não existe sorte, existe se colocar na oportunidade de acontecer. Isso é sorte.
      p
        | Então não me venha com cartomante, futuro, e essas coisas, porque eu não acredito muito nessas coisas não. 
      p
        | O futuro está na cabeça e na disposição. Porque a gente quem faz o próprio futuro.
      p
        | Não existe sorte, cara. Existe se colocar na oportunidade de acontecer. Isso é sorte. 
      p
        | Prestamos muito atenção nos momentos de sorte. Ou nos de azar, depende da personalidade de cada um. Mas tem tantos outros momentos que a gente não presta atenção, e lá está a sorte e o azar, o tempo todo. Nós quem frisamos certos momentos—prefere acreditar.

  .row
    .col
      h2 Como ser lembrado?
      p
        | Eu queria ser lembrado como esse cara do bem, que viveu a vida intensamente—tudo o que tinha para viver. Eu acho que na minha carreira, eu mostrei isso: quem eu sou.
      p
        | Eu fiz muita coisa.
      p
        | Resumidamente, é assim que eu sei que serei lembrado: surfista, ator, diretor, produtor, apresentador, comentarista. Eu planto orgânicos, já criei truta, isso tudo como profissão. Sou músico, já tive restaurante. 
      p
        | Já fiz muita coisa, não consigo nem lembrar de tudo. Já construi uma casa no braço! Aliás, continuo construindo, no meu sítio. Aprendi, na mão, a mexer massa de cimento…
      p
        | É esse tipo de pessoa que eu quero ser lembrado, como um cara que faz tudo o que tiver na frente. Isso é viver: aproveitar toda oportunidade.
      p
        | Eu queria deixar esse exemplo, pra que os outros saibam que isso é possível, e serem felizes dessa forma.


  .row
    .col
      h2 Créditos e música
      p
        a(href="https://www.cifraclub.com.br/nino-el/espirito-do-mar", title="Espírito do Mar — El Niño") Espírito do Mar — El Niño 
      p Fotos retiradas do Facebook de Teco Padaratz.