@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shine {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes bounceDown {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 10px);
  }
}