.row {
  position: relative;
  display: flex;
}

%padding {
  padding: 0 calc((100vw - 1180px) / 2);

  /*
   * MOBILE APPLICATION
   */

  @media screen and (max-width: 1280px) {
    padding: 0 1.6rem;
  }

  /*
  * VARIATIONS
  */
  
  &%--small {
    padding: 0 calc((100vw - 1000px) / 2);
    
    @media screen and (max-width: 1100px) {
      padding: 0 1.8rem;
    }
  }
  
  &%--x-small {
    padding: 0 calc((100vw - 900px) / 2);
    
    @media screen and (max-width: 1100px) {
      padding: 0 1.8rem;
    }
  } 
}

%margin {
  margin: 0 calc((100vw - 1000px) / 2);

  /*
   * MOBILE APPLICATION
   */

  @media screen and (max-width: 1280px) {
    margin: 0 1.2rem;
  }
}