// Set up
@import 
  'vars',
  'wipe',
  'fonts',
  'setup',
  'grid',

// Components
  'components/logo',
  'components/nav',
  'components/button',
  'components/play-button',

// Sections
  'sections/header',
  'sections/footer',
  'sections/cover',
  'sections/partners',

// Templates
  'templates/default',
  'templates/video-page',

// Views
  'views/home',
  'views/series',
  'views/sobre',
  // 'views/video',
  'views/apoie-o-projeto';