/*
 * Colors
 */

$color--gray: #838383;
$color--gray-light: #dadada;
$color--red: #ED3439;

/*
 * Gradients
 */

$gradient--red: linear-gradient(180deg, #ED3439 0%, #E00006 100%);

/*
 * Typography
 */

$font-family--text: 'Basier', Arial, Helvetica, sans-serif;
$font-family--title: 'Barlow Condensed', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-family--quote: 'Playfair Display', 'Times New Roman', Times, serif;