:root {
  /** Base Properties */
  --base-font-family: 'Heebo', Arial, Helvetica, sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.6;

  /** Title Properties */
  --title-font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  --title-font-size: calc(var(--base-font-size) * 4.44);
  --title-line-height: 1;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 300;
  line-height: var(--base-line-height);
}

.hidden-title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -3000000px;
}
