:root {
  /** Base Properties */
  --base-font-family: 'Heebo', Arial, Helvetica, sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.6;

  /** Title Properties */
  --title-font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  --title-font-size: calc(var(--base-font-size) * 4.44);
  --title-line-height: 1;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 300;
  line-height: var(--base-line-height);
}

.hidden-title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -3000000px;
}

/**
 * Typography Settings
 */

/* Titles */
.title {
  font-family: var(--title-font-family);
  font-weight: 700;
  text-transform: uppercase;
  line-height: var(--title-line-height);
}
.title.--big { font-size: var(--title-font-size); }
.title.--normal { font-size: calc(var(--title-font-size) * .6); }
.title.--small { font-size: calc(var(--title-font-size) * .3); }

/* Text */
.text {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 300;
}
.text.--normal { font-size: var(--base-font-size); }
.text.--small { font-size: calc(var(--base-font-size) * .7); }

/* Links */
.link {
  display: inline-block;
  font-weight: 400;
}
.--button {
  font-family: var(--title-font-family);
  font-size: calc(var(--base-font-size) * .8);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/**
 * Color Settings
 */

.--black { color: black; }
.--white { color: white; }
.--dark-gray { color: #555; }
.--red { color:#E22C4B; }

/**
 * Main
 */

.main {}

.cover {
  position: relative;
  height: 100vh;
  min-height: 740px;
  max-height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5em 0;

  background-image: url(img/cover--bg.jpg);
  background-size: cover;
  background-position: bottom center;
}

.cover-texts {
  max-width: 840px;
  margin: 2.4em auto;

  text-align: center;
}

.videos {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 5em 0 10em;
  
  background-image: url(img/video--bg.jpg);
  background-size: cover;
  background-position: center;
}

.latest-video {
  position: relative;

  min-height: 315px;
  min-width: 560px;

  width: 100%;
  height: auto;
  
  max-height: 441px;
  max-width: 700px;
  
  margin-top: -7em;
}

.latest-video .video-frame,
.latest-video .video-preview {
  position: absolute;

  background-color: #333;
  background-image: url(img/video-preview--bg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 12px 42px rgba(0,0,0,.25);

  visibility: hidden;
  opacity: 0;
}
.latest-video .video-frame.active,
.latest-video .video-preview.active {
  visibility: visible;
  opacity: 1;
}

.video-preview {
  width: 100%;
  min-height: 400px;

  display: flex;

  padding: 3em 2em;
}

.video-preview .texts {
  max-width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video-preview .series-logo {
  max-width: 80px;
  margin-bottom: .7em;
}
.video-preview .title,
.video-preview .text,
.video-preview .link {
  margin-bottom: .4rem;
}

.video-preview .link {
  display: flex;
  align-items: center;

  margin-top: 1em;
}

.video-preview .link .play-button {
  margin-right: 12px;
}

.footer {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 6em 0 4em;

  background-color: #141517;
}

.footer-conversion {
  max-width: 800px;
  width: 100%;

  display: flex;
  flex-direction: column;

  margin: auto;
}

.footer-conversion .title {
  text-align: center;
}

.footer-conversion .form {
  width: 100%;

  display: flex;
  align-items: flex-end;

  margin: 2.4em 0;
}

.input-container {
  position: relative;
}

.input-container:not(:last-child) {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: calc(var(--base-font-size) * .75);
  line-height: 1;

  margin-left: 24px;
  margin-bottom: 5px;

  color: white;
}

.input-field {
  flex: 1;

  font-size: calc(var(--base-font-size) * .85);
  line-height: 1;

  margin: 5px;
  padding: 10px 18px;

  border: 1px solid white;
  border-radius: 30px;
  
  color: white;

  transition: all 260ms ease;
}

.input-field:hover {
  background-color: rgba(255, 255, 255, 0.301);
}

.input-field:focus,
.input-field:active {
  color: black;
  background-color: white;
}

/**
 * Form Validation Errors
 */

.error {
  border-color: #e22c4b;
}

.error-message {
  position: absolute;
  bottom: -2em;
  left: 22px;

  font-size: .8em;
  font-weight: 500;

  color: #e22c4b;
}

.input-button {
  cursor: pointer;

  font-size: calc(var(--base-font-size) * .75);
  font-weight: 500;
  line-height: 1;

  margin: 5px;
  padding: 11px 32px;

  color: white;
  background-color: #E22C4B;
  border: 1px solid #E22C4B;
  border-radius: 30px;

  transition: all 260ms ease;
}

.input-button:hover {
  border-color: rgb(199, 31, 59);
  background-color: rgb(199, 31, 59);
}

.footer-links {
  max-width: 1200px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  
  margin: 3em auto 0;
}

.footer-links .copyright,
.footer-links .social-links {
  display: flex;
  align-items: center;
}

.footer-links .copyright .logo {
  margin-right: 16px;
}

.footer-links .social-links > .link {
  margin: 5px 20px;
}