extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Pininfarina",
      subtitle: "88 anos de design e inovação.",
      description: "Paolo Trevisan, head of design da Pinifarina, empresa famosa pelo design de projetos da Ferrari, Maserati, barcos de luxo, e do maior prédio da América Latina, conta como a empresa continua trazendo inovação.",
      video: videos.pininfarina,
    }
  - var darkBG = true;

block transcription
  .row
    .col
      h2 Introdução
      p
        strong Sou Paolo Trevisan, responsável pelo design na arquitetura da Pininfarina. 
      p
        | Eu trabalho desde 2000, são quase 18 anos na empresa, e antes disso, eu era um fã dessa história, que tem 88 anos e continua evoluindo, procurando o futuro e misturando design desde Ferrari e Maserati à prédios, canetas, relógios—toda vez é um desafio diferente. Estamos falando de seguir mais de 200 projetos fora do segmento automotive no mundo inteiro. É uma aventura bem interessante.

  .row
    .col
      h2 A Pininfarina
      p
        | É uma responsabilidade forte. Se você olhar pro passado—eu ainda adoro passear na Itália, no museu da Pininfarina, e ver as coisas que foram feitas. Ainda olho todos os projetos antigos, olho pra trás bastante, porque a história que foi feita em 88 anos—eu não conheço, e acho que não existe uma outra empresa de design que conseguiu continuar na sua história. Normalmente é ligado à uma geração. Na Pininfaria, já está nascendo a quinta, a quarta já está entrando na empresa. Tem esse lado da família.
      h3
        | O que nós copiamos e aprendemos é a atitude, como olhar para o futuro e interpretar os elementos.
      p
        | É uma grande fortuna ter esse bagaglio cultural, essa história que foi feita, o limite. Mas o engraçado é que, na verdade, a Pininfarina é feita de inovação. Você não pode copiar o passado porque não vai funcionar hoje. Então o que nós copiamos e aprendemos é a atitude, como olhar pro futuro, e como interpretar os elementos. Os valores permanecem os mesmos, mas as linhas, os traços e a resposta muda muito.

  .row
    .col
      h2 Representatividade e exclusividade
      p
        | Nós estamos em uma posição privilegiada, porque trabalhamos com desenho de produto, de arquitetura, de meios de transporte, de eletrônicos. E na realidade, estamos sempre desenhando a mesma coisa. Algumas vezes me perguntam: “Como vocês conseguem desenhar uma Ferrari,  desenhar uma caneta, e desenhar um edificío?”. No final, é tudo o mesmo elemento e uma comunicação. Portanto, antes de começar a desenhar, precisamos entender esses valores, entender o mercado onde estamos localizados, qual a mensagem importante que queremos transmitir com esse projeto. É ali que se desenha e se constrói tudo em volta, criando um experience.
      h3
        | Agora se fala de experience. Isso a Pininfarina já entendeu. Gostamos de entender qual o sonho que vai ser realizado. É uma história. Nós fazemos esse filme na nossa cabeça.
      p
        | Agora se fala muito desse experience, isso acho que a Pininfarina entendeu desde o começo. Gostamos de entender qual o sonho que vai ser realizado, o que você vê quando está longe, quando virar a rua, qual vai ser a primeira perspectiva do edifício. Chegando na garagem, nós adoramos colocar uma atenção maior, é uma das primeiras entradas. E você vai descobrindo: dentro do elevador, qual vai ser a primeira impressão—o cheiro, a luz, o material, o tato, e por aí adiante. É uma história. Nós fazemos esse filme na nossa cabeça.
      p
        | Temos um grande truque: nós trabalhamos em equipe. Somos um time, sonhador com diferentes know-hows. Até demos um nome: cross-fertilization. O que se aprende de um lado é puxado para o outro, havendo essa contaminação, sempre junto com nosso cliente, que inserimos no time de trabalho. No lado da arquitetura, adoramos trabalhar com arquitetos locais, decoradores locais, pra misturar e ter essa contaminação positiva, que é a nossa maneira de elevar o resultado dos nossos projetos.
  .row
    .col
      h2 Inovação
      p
        | Tem uma frase bem interessante do Paolo Pininfarina, presidente da empresa, onde ele diz que “O objetivo do design é humanizar a inovação”. O que quer dizer isso? A inovação é bem interessante, ela tem um percurso e um caminho. A humanidade tem um percurso e um caminho. E nós temos que interpretar o quanto e como eles cruzam, e como isso pode ajudar uma vida, e criar essa experience, esse momento especial.
      h3
        | O objetivo do design é humanizar a inovação.
      p
        | Eu brinco com o time de design com algumas frases, e uma delas é que a inovação e a tecnologia é como um medicamento, você precisa tomar quando precisa, e com a dose correta. Estamos em contato com empresas de busca, de tecnologia e inovação, e é incrível aquilo que já poderia ser feito hoje no mercado, mas se o mercado não está pronto, não faz nenhum sentido. Se olharmos para a história, existem muitas inovações que foram lançadas no momento errado.
      p
        | Então é necessário realmente entender o que é necessário e utilizar a dose correta para criar essa emoção. O muito de um, ou o muito de outro, no final, não cria esse equilíbrio, que é a busca do design. É um desafio, que adoramos perseguir.

  .row
    .col
      h2 Design ou inovação
      p
        | Algumas vezes me perguntam: “O que é design? Mas tem design? Esse projeto tem um valor a mais, que é o design”. Design quer dizer pensar, quer dizer o projeto, quer dizer entender o problema e fazer uma interpretação. Eu não vejo nada que pode existir sem isso. Muitas pessoas fazem design, provavelmente sem saber que esse é o nome. A inovação é um instrumento, uma ajuda. É olhar para frente, fazer um passo a mais. 
      h3
        | Design quer dizer pensar, quer dizer o projeto, quer dizer entender o problema e fazer uma interpretação. Eu não vejo nada que pode existir sem isso.
      p
        | Pode ser que eu seja designer, e esse é o meu sonho, a minha visão, mas eu acho que não existe nada sem o design, o pensamento, e tudo. Temos um lado instintivo, mas temos o lado do cérebro do cálculo, do raciocínio, dos elementos, e quando isso se mistura é que se cria o que podemos chamar de inovação. Isso pode criar o “ver além” das coisas.
      p
        | Eu vejo o design como um pensamento, e acredito que é importante que pensamos bem antes de fazer qualquer coisa.
  .row
    .col
      h2 Essência
      p
        | Nós somos chatos. Gostamos que as coisas sejam perfeitas. E a perfeição nunca está ali—ela está sempre perto, e nós tentamos tocar e vamos aprendendo. Fazemos um projeto novo, aprendemos algumas coisas, e acaba o projeto, já estamos olhando para o próximo, e tentando melhorar ele ainda. 
      p
        | A sociedade está mudando. E a paixão do designer, e da Pininfarina, é de apresentar e olhar a sociedade. É um amor pelas pessoas, por aquilo que acontece, e tentar participar criando produtos, histórias e experiências, cada vez mais alinhadas com esse movimento geral que nós olhamos de uma maneira bem positiva. É um desafio, e um prazer incrível.

  .row
    .col
      h2 Cidade do futuro
      p
        | É uma resposta difícil de dizer, pois ela está em contínua evolução. Acreditamos que a tecnologia deve estar alinhada à natureza—deve ter um respeito ao meio ambiente. Parece uma frase feita, mas não é. Está muito interessante a captação de energia de diferentes modos. A Pininfarina está sempre buscando o próximo. 
      h3
        | Acreditamos que a tecnologia deve estar alinhada à natureza. Não é apenas a responsabilidade de fazer um projeto hoje, mas a responsabilidade de ver como estará daqui 20, 30, 40 anos no mercado.
      p
        | Quando eu entrei na Pininfarina, há quase 18 anos atrás, já haviam vários carros elétricos que estavam rodando dentro da empresa, fazendo testes, e analisando. Hoje, na Pininfarina, nós estamos construindo um carro à hidrógeno. Então, com um braço, estamos visionando um futuro, o futuro mais longe, com outro, no presente, tentando fazer—com passos de tamanho correto—alinhados com aquilo que o mercado está pronto para receber. E o terceiro braço, olhando para trás e sempre lembrando do que foi feito com o máximo respeito. 
      p
        | Não é apenas a responsabilidade de fazer um projeto hoje, mas a responsabilidade de ver como esse projeto feito hoje estará daqui 20, 30, 40 anos no mercado. É por isso que gostamos de olhar tanto para o futuro. Pois imaginamos que algumas coisas que estaremos fazendo hoje estarão lá, e nós gostamos desse long-lasting.
  .row
    .col
      h2 Desafio
      p
        | A Pininfarina hoje está crescendo. Ela é sempre uma presença da família Pininfarina. Antigamente o design, a criatividade, era somente feita na Itália. Agora começamos nos Estados Unidos, temos escritório na Alemanha, que faz engenharia, temos escritórios na China, estamos abrindo em outros lugares do mundo. Estamos alargando a nossa presença, e um grande desafio é manter a qualidade, a paixão, a visão, em todas as coisas que fazemos. Essa é um pouco da nossa transformação interna.
      p
        | E por que isso? Não é questão só de business ou de dinheiro. É porque percebemos que, quando estamos mais perto do projeto, quando conseguimos seguir com um contato mais próximo, conseguimos entender melhor o mercado e elevar a nossa qualidade. Esse é o nosso novo desafio, de criar uma internalização ainda maior da Pininfarina, enquanto mantendo a alma que caracterizou a Pininfarina desde os primeiros dias da formação da empresa.

  .row
    .col
      h2 Brasil
      p
        | A Pininfaria e o Brasil tem uma história longa. O mesmo fundador da Pininfarina, muitos anos atrás, viajou—e era um pessoal realmente super interessante, faziam diários de viagens—e tinham fotos de viagem dele olhando a cidade, a evolução do Brasil, e ele até escreveu como essa cidade (Balneário Camboriú) seria uma das cidades mais importantes no futuro. É incrível. E é muito fácil trazer o Paolo Pininfarina, presidente da empresa, aqui no Brasil. Ele adora vir aqui. 
      h3
        | Existe uma questão cultural, de gosto, de paixão, muito semelhante. Nós acreditamos que o Brasil seja um mercado interessante para a Pininfarina.
      p
        | Acho que existe uma questão cultural, ou de gosto, de paixão, muito semelhante. Nós acreditamos que o Brasil seja um mercado interessante para a Pininfarina. Existe muita coisa a ser feita. E os valores, esse lado emotivo, o gosto, e as prioridades são muito parecidas com aquilo o que a Pininfarina faz.
      p
        | E com certeza a ideia é de aumentar a nossa presença no mercado brasileiro. Hoje estamos com projetos em São Paulo, em Balneário, aqui na área de Santa Catarina. Desenhamos barcos para o Brasil, e estamos imaginando alguns outros projetos, que sairão em breve.
  
  .row
    .col
      h2
        | Pininfarina, 88 anos, e ainda uma empresa jovem, que olha para o futuro como uma criança.