extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Resultados Digitais",
      subtitle: "A maior empresa de automação de marketing do Brasil",
      description: "Conheça a história da empresa Resultados Digitais. O sócio fundandor André Siqueira conta como tudo começou e destaca os diferenciais que fizeram a empresa sediada em Florianópolis ser uma das maiores no segmento tecnológico no mercado brasileiro.",
      video: videos.resultadosdigitais,
    }
  - var darkBG = true;