extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Lunarfilm",
      subtitle: "Uma das maiores distribuidoras de películas automotivas e residenciais do Brasil.",
      description: "Conheça a história do Ney da Lunarfilm. Um empreendedor nato que superou todas as adversidades e hoje tem um das maiores empresas distribuidoras de películas automotivas e residenciais do Brasil a R5 Window Film.",
      video: videos.lunarfilm,
    }
  - var darkBG = true;