extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Wendell Carvalho",
      subtitle: "Especialista em mudança comportamental",
      description: "Inspire-se com a visão de vida do especialista em mudança comportamental e estratégias para atingir metas.",
      video: videos.wendellcarvalho,
    }
  - var darkBG = true;

block transcription
  .row
    .col
      h2 Introdução
      p
        | Se eu soubesse a dez anos que era possível ter o máximo em todas as áreas da vida, carreira, finanças, saúde, relacionamento e espiritualidade… se eu soubesse de fato que existe uma estratégia, um caminho possível chegar nisso eu teria começado mais cedo.
      p 
        strong Meu nome é Wendell Carvalho e eu estou no Raio-X dos Mentores Online.

  .row
    .col
      h2 Apresentação
      p
        | Bom, Meu nome é Wendell Carvalho, na gravação dessa entrevista eu tenho 38 anos de idade,  moro com a mulher que eu amo na cidade de Florianópolis. Eu sou treinador comportamental, eu  ajudo pessoas a mudarem os seus comportamentos para conquistarem a vida que elas sempre sonharam e conseguir de fato conquistar isso. Eu faço isso a 13 anos, nesses 13 anos eu treinei 117 mil pessoas e também produzo conteúdo online pra ajudar mais ainda essas pessoas.
      p
        | Os meus videos no youtube tem mais de 8 milhões de visualizações, eu faço tudo isso pra poder entregar essa missão na ponta,  ajudar as pessoas a conquistarem o que eu chamo de vida épica, uma vida abundante em todas as áreas, e esse passo a passo que eu criei, pra ajudar as pessoas a terem uma vida abundante em todas as áreas eu entrego em uma imersão de dois dias chamada PROTAGON, um final de semana que acontece em varias cidades do Brasil e lá eu entrego um passo a passo que fez a mudança na minha vida e na vida de milhares dos alunos que eu tenho pelo Brasil, ciência, algo pratico, com começo meio e fim é la que a mudança acontece.
  
  .row
    .col
      h2 Qual é a sua essência?
      p
        | O Wendell na essência é um homem livre que conseguiu ao longo da jornada se libertar de amarras emocionais, um homem que ao longo da sua jornada conseguiu viver a vida do jeito que ele acha que tem que ser, vocês chegaram aqui em casa, vocês viram como eu estava vestido, ok, tudo tranquilo, essa é a essência, um homem que gosta de coisas boas, sofisticadas, mas ao mesmo tempo é um homem extremamente simples, um homem duro quando precisa ser, para conseguir fazer as pessoas chegarem aonde eles precisam chegar, mas também um homem extremamente amoroso.  
      p
        | Eu acho que a minha essência está muito ligado a essa mistura de atitude e amor, de energia e cuidado, eu acho que são duas grandes forças. A minha essência está muito ligada também a pessoa que eu tive que me tornar ao longo da minha vida, que é uma pessoa extremamente resiliente, que consegue passar por problemas muito grandes e não se afetar por conta desses problemas, entendendo que existe um caminho otimista, entendendo que existe uma solução logo ali, a minha essência está ligada a isso!

  .row
    .col
      h2 Como você vê o mundo?
      p
        | O mundo pra mim é um lugar extremamente abundante, e isso é uma das coisas que as pessoas tem mais dificuldades de entender. Pra mim o mundo é extremamente abundante porque todo mundo no mundo, você, eu, qualquer pessoa que esteja lendo esse entrevista pode ter o máximo da vida em todas as áreas tomando decisão a partir de agora.
      p
        | Então, existe um principio da escolha que as pessoas podem escolher o que vão fazer a cada segundo e isso pode disparar caminhos diferentes nas suas vidas e as pessoas podem assim conseguir ter o máximo em relação a sua saúde, o máximo em relação a sua carreira, o máximo em relação ao seu relacionamento, conexão espiritual, dinheiro, só que as pessoas precisam entender que essas opções existem e estão a mão, a alcance da mão, você só precisa esticar a mão e tomar posse daquilo.
      p
        | Então, o mundo pra mim é extremamente abundante em todas as áreas, enquanto as pessoas não entenderem isso, teremos guerras, teremos pessoas se suicidando, teremos depressão, teremos casais se separando, pessoas vendendo os seus sonhos pra poder trabalhar para uma pessoa, sendo que o sonho dela talvez  seja empreender e não entender que ela pode ter o máximo da vida em todas as áreas, então pra mim o mundo a vida o ambiente é um lugar extremamente abundante, isso é o que resume pra mim.

  .row
    .col
      h2 De que forma que você quer que o mundo te veja?
      p
        | É complicado eu dizer o que eu quero que as pessoas vejam de mim, tem muito do ego isso daí, e o ego é um grande inimigo. Eu gostaria que as pessoas me vissem como uma ferramenta, como se fosse uma Pá, uma ferramenta pra poder ajudar elas a fazer alguma coisa, uma ferramenta que pode ajudar elas talvez a mudarem as suas crenças, uma ferramenta que pode ajuda-las a ter mais coragem pra poder mudar financeiramente, uma ferramenta que pode ajudar elas a conseguirem ter um grande resultado.
      p
        | Eu ja me fiz a pergunta uma vez: E se eu precisasse ajudar muita gente e não ser visto por isso? Eu já me coloquei nesse cenário. Imagina que você chegasse e que tivesse 10 milhões de pessoas sentadas numa plateia infinita, e você fosse dar um treinamento, você fosse impactar aquelas pessoas e você não conseguisse ver aquelas pessoas e elas não conseguissem te agradecer, mas você teria certeza que elas mudaram. No fundo da minha alma, do fundo do meu coração eu falei: Ta tudo bem!
      p
        | Eu não quero que as pessoas de fato olhem pra mim e digam: eu sou grata a você, isso não precisa acontecer, eu preciso que a mudança siga, eu preciso que as pessoas se transformem. Então, eu acredito que a missa maior é fazer com que nós consigamos formar pequenos totens, que são pessoas que são exemplo pra sociedade, eu acredito que a sociedade carece disso. Quem você conhece que tem um casamento incrível, um fitness em ordem, uma pessoa que ganha o quanto ela acha que merece, uma pessoa que realiza os seus sonhos, uma pessoa que está conectada espiritualmente, faz diferença no mundo? Existem poucas pessoas!
      p
        | O que eu percebo que acontece é: Eu tenho uma pessoa que eu conheço que é rica, mas ela tem câncer. Eu conheço uma pessoa que tem um grande relacionamento, mas essa pessoa é frustrada na carreira! Porque não? eu acredito que a sociedade carece desses exemplos pra mostrar que é possível, não é uma alucinação, é possível ter o máximo em todas as áreas.

  .row
    .col
      h2 Você é o que imaginou?
      p
        | Se eu te disser que eu tinha certeza que iria chegar onde eu cheguei hoje, eu estaria te mentindo, dizer que almejei exatamente isso, eu estaria mentindo. Deus foi muito abundante comigo de possibilitar que eu me capacitasse e conseguisse atingir tudo que eu consegui, e na velocidade que eu consegui. Tiveram coisas que aconteceram na minha vida que eu acreditava que eu iria conseguir daqui a dez anos e eu consegui muito antes. Então, Wendell você chegou exatamente onde você queria? Não, eu não sei onde eu sou capaz de chegar, entende?
      p 
        | Eu não vou soltar um daqueles bordões: “o que você é capaz de visualizar, você é capaz de criar” porque eu nem sei ainda na essência o que eu sou capaz de criar, eu sei que eu tenho uma capacidade de criação imensa e eu sei que eu estou buscando jogar um jogo que é fazer máximo que eu posso em todas as áreas da minha vida todos os dias, só que não tem um final, porque buscar o máximo em todas as áreas d vida é como você buscar o pote de ouro no final do arco-íris, você sabe que ele está lá, mas como faz pra chegar lá. Então, o mais bonito dessa jornada não é chegar um dia e falar: Poxa, eu conquistei tudo o que eu queria da vida, porque, o que a gente quer da vida de fato? será que a gente precisa de tudo isso que a gente quer?
      p
        | Então, a grande essência que eu vejo é: quando eu encontro um cara que tem um carro dos sonhos, quando eu encontro alguém que emagreceu trinta quilos, a grande essência não é o que aquela pessoa tem, é o que ela teve que se transformar para merecer ter aquilo, quando eu encontro uma pessoa que tem um carro de 1 milhão de reais, uma lamborguini, uma Ferrari, eu não quero saber do carro dele, eu quero saber quem ele teve que se tornar para ser merecedor daquele carro. Quando eu vejo alguém que tem um relacionamento apaixonante durante trinta anos, não é o que eles fizeram, eu preciso saber o que eles se tornaram para ser merecedor daquilo. 
      p
        | Eu não via lá atrás, exatamente tudo o que eu tenho hoje. Eu tenho uma visão escrita de vinte anos, o que eu quero ser daqui a vinte anos e o que pauta as minhas ações hoje é esse caminho pra chegar lá nessa visão de vinte anos, e se eu chegar lá, pode ser que eu constate que eu sou um homem feliz, mas se eu não realizar a minha visão de vinte anos, está tudo bem, não é o fim, eu entendo e tenho clareza que é a jornada. Se eu chegar lá e não conseguir atingir o nível financeiro, o nivel de saúde, o nível de relacionamento, esta tudo bem, a parte mais importante não é o fim foi a jornada.

  .row
    .col
      h2 Minha maior qualidade?
      p
        | Minha maior qualidade sem duvida nenhuma é a resiliência, é meu maior músculo emocional. É a capacidade de estar passando por um inferno, por uma desgraça como as pessoas podem dizer e ter sangue frio de falar assim: A gente vai resolver dessa e dessa forma, essa é de longe a minha maior habilidade emocional. Se tiver um caos instalado e me chamar eu consigo entrar naquele caos com cabeça fria e resolver aquilo ali, essa é de longe a minha maior habilidade, e isso é um músculo emocional que foi desenvolvido em mim durante a minha infância pelo o que aconteceu com os meus pais,
      p
        | A relação que eu tive com os meus pais na infância, por questões que aconteceram lá, amo os meu pais, sou muito grato a eles mas se não tivesse acontecido aquelas coisas na infância eu não teria me tornado aquela criança, aquele adolescente e esse adulto então, eu tenho a condição desentender que  o que aconteceu lá atrás, aconteceu pra que eu me tornasse a pessoa que eu me tornei hoje.
      p
        | Eu vejo que muitas pessoas amaldiçoam o passado, muitas pessoas questionam porque que os pais usaram drogas, porque eles foram abandonados, porque eles foram abusados sexualmente, porque que eles foram agredidos, porque que eles foram ofendidos, porque que…
      p
        | Não tem que haver questionamentos, se você questiona, você está morando no passado e o passado não faz sentido. A grande ideia é como isso que aconteceu na minha vida pode me fazer, pode me tornar a pessoa madura, forte que sou hoje então, eu vejo que o Homem que eu sou hoje, capaz de fazer o que eu faço hoje foi por conta das coisas que aconteceram no meu passado, enquanto eu não entendi isso, eu sofria então, a minha maior habilidade , meu maior músculo emocional é a resiliência, capacidade de passar por dificuldades e agir!
  .row
    .col
      h2 Como encarar e superar as dificuldades?
      p
        | Eu encaro com extremo otimismo, eu acredito que eu sou um cara muito otimista e não otimista o cara iludido, não é isso, mas eu acredito que eu sou muito otimista de fato, eu olho as situações  e entendo que tudo que acontece por mais difícil que seja, existe graça ali, não graça de ser engraçado, mas a graça divina então, eu acredito fortemente que eu passo pelas dificuldades com otimismo, eu passo pelas dificuldades agindo massivamente
      p
        | Eu acredito muito na execução, você não tem que fica pensando muito, você tem que executar, executar, executar, você ajusta enquanto está executando, o nome do jogo é execução. As pessoas precisam executar mais então, eu passo com otimismo e fazendo muito, eu vou concertando enquanto a coisa está sendo feita, senão eu fico no âmbito do perfeccionismo e as coisas não avançam, eu passo pelas dificuldades assim.
    
  .row
    .col
      h2 O que é um problema pra você?
      p
        | Um problema pra mim é um alimento, eu tenho dificuldades, eu tenho problemas o tempo todo como uma pessoa comum, mas isso é um alimento pra mim. Problemas do tipo: Como é que eu vou fazer pra poder impactar o dobro de pessoas que eu impacto? Como é que eu vou poder ajudar esse mês cento e cinquenta pessoas que iriam cometer suicídio e não vão cometer suicídio ? Como é que eu vou ajudar mil pessoas esse mês pra fazer com que essas pessoas abram o seu próprio negocio sendo que é o sonho delas? Como é que eu vou fazer pra quem mil casais não se separem esse mês? Então, esses problemas são alimentos pra mim.
      p
        | É muito curioso isso, nesse momento  que eu e você está gravando essa entrevista tem gente assistindo essa entrevista, existe milhares de pessoas ajoelhadas na beirada de uma cama rezando esperando encontrar uma solução pra alguma coisa, e o que eu acho curioso é que milhares de pessoas no mundo tem essas soluções, só que essas soluções estão trancadas nas cabeças dessas pessoas então, existe pessoas que tem um tesouro, outras pessoas que precisam desse tesouro, essas pessoas compartilhariam facilmente mas essas pessoas não se conhecem, a internet precisa ajudar nisso,  a gente precisa ajudar essas pessoas a terem acesso a essa informação, não é justo alguém estar sofrendo fortemente, pensando inclusive em acabar com a própria vida, ou fazendo da sua vida algo medíocre e alguém tem a solução pra isso, pode ser compartilhado gratuitamente e isso não é feito.
  
  .row
    .col
      h2 O que te tira do sério?
      p
        | O que me tira do sério é ver pessoas que tem potencial não performando, eu fico louco com isso. Tinha uma época da minha vida que quanto eu mais estudava, mais isso ficava forte em mim, eu terminava uma formação, eu ia pro exterior fazer algum curso como aluno e eu voltava e via caramba, é completamente possível qualquer pessoa performar  alto demais e daí eu começava a ficar triste, eu chorava, já aconteceu várias vezes de chegar no quarto do hotel, chorar porque eu percebia que tinha tanto conhecimento e não estava conseguindo impactar tanta gente então, o que me deixa louco hoje é conversar com alguém que tem potencial alto e a pessoa não performar.
      p
        | O que é performar? É ela conseguir realizar o que ela acha que é sucesso naquela área, e não quer dizer que a pessoa tem que ganhar 100 mil reais por mês, não quer dizer que ela tem que andar em uma lamborguini, não quer dizer que ela tem que ter um relacionamento que ela faça sexo todos os dias, não é esse filtro, não são essas regras, é ela definir o que é importante pra ela e conseguir performar então, o que me deixa louco é perceber que tem milhões de pessoas por aí que tem um puta potencial, tem um sonho gigantesco e essas pessoas não performam, isso me deixa maluco!
    
  .row
    .col
      h2 O que é mais importante?
      p
        | O que eu mais dou importância na minha vida hoje é de alguma forma conseguir ter coerência e viver as coisas que eu prego. Não faz sentido por exemplo, se eu acredito de fato que o mundo é abundante, não faz sentido eu não viver em abundância, e quando viver em abundância, não quer dizer viver ostentando, muitas pessoas confundem isso, não tem nada a ver com isso. Viver em abundância é viver o máximo que a vida pode te dar em cada uma dessas cinco áreas que eu falei no começo.
      p
        | Se a carreira é importante eu preciso me tornar uma referência na carreira e ter prazer com a minha carreira, impactar as pessoas com a minha carreira então, essa congruência entre essas cinco áreas, se a parte de finanças é importante eu preciso criar estratégias pra que eu possa prosperar financeiramente e existe um caminho, existe um passo a passo para prosperar financeiramente, são leis, se pessoa não respeita as leis ela vai ser pobre, se ela respeita as leis ela vai ser rica, é muito simples de entender e você sabe disso.
      p
        | É entender que eu tenho que ter um ótimo relacionamento porque a mulher que eu amo, que está ali me assistindo, se eu não tiver um bom relacionamento com ela, se eu não tiver tempo com ela, se eu não fizer carinho nela, se a gente não tiver intimidade, não faz sentido então, a minha busca hoje por buscar ter congruência, buscar realmente viver essas cinco áreas  em alto nível, não é pra ser melhor que ninguém  porque esse jogo é eu contra eu mesmo, não tem uma corrida, não tem disputa com ninguém é eu de ontem versus eu de hoje e é isso aí.

  .row
    .col
      h2 E se fosse seu último dia de vida?
      p
        | Se fosse o último dia, de verdade eu iria passar o resto desse dia fazendo coisas que me conecta com a minha essência que seria talvez estar deitado no tapete brincando com os meus bulldogs, meus cachorros que estão aqui no chão, fazendo carinho na cabeça da Karina, a gente iria estar conectados, porque eu acredito que essa conexão tem a ver com a essência da vida, teria a ver com isso, se eu não tivesse gravado muitos videos já, eu iria gravar mais videos pra poder deixar isso registrado pra pessoas depois que eu fosse mudassem as vidas delas, mas já tenho muita coisa gravada, já tenho muita coisa organizada eu passaria com a minha mulher e com os meus filhotes aqui.
  
  .row
    .col
      h2 Como você quer ser lembrado?
      p
        | Eu quero ser lembrado através do resultado das pessoas, eu quero ser lembrado não como alguém que falou bonito, não como alguém que teve super eventos ou produções, nada disso. Eu quero ser lembrado quando uma pessoa por exemplo, deitar a cabeça de noite, abraçar a mulher e falar assim: cara o meu relacionamento foi restaurado porque eu vi um video, porque eu fui num curso de um cara barbudo lá atrás que eu nem lembro qual o nome.
      p
        | Eu quero ser lembrado pelo resultado que as pessoas tiveram, eu quero que quando um cara entrar no carro  dos sonhos dele e esse cara talvez tenha andado num uno lá atras e esse cara entra no carro do sonho dele, quando esse cara entrar ele falar assim: puxa vida, eu nem acredito que eu estou dentro desse carro, alguma coisa mudou dentro de mim, eu acho que foi aquele curso que eu fiz com aquele pra lá atras, como é mesmo o me dele?
      p
        | Então, eu quero ser lembrado através do resultado das pessoas e não que as pessoas lembrem do meu nome  de fato, não que as pessoas deixem flores no meu túmulo, não é isso, eu quero que elas levem  essa mensagem através até de gerações que por exemplo, um adolescente que conseguiu interromper o padrão de pobreza da família e ele conseguiu prosperar depois que ele foi num evento meu, depois que ele viu alguns videos enfim, depois que ele conseguiu prosperar ele passe isso pro filho e aí temos uma curva de crescimento  e de prosperidade financeira naquela família, eu quero ser lembrado assim!