extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Construtora Pasqualotto",
      subtitle: "Empreendimentos em Balneário Camboriú e Itapema.",
      description: "Conheça a história da Construtora Pasqualotto. Alcino Pasqualotto conta como tudo começou e relata os diferenciais que fazem a empresa ser referência no segmento da construção civil no Brasil.",
      video: videos.pasqualotto,
    }
  - var darkBG = true;