extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Supermercados Imperatriz",
      subtitle: "",
      description: "Conheça a história do SUPER MERCADO IMPERATRIZ, uma das maiores redes de supermercados do sul do país. A história foi contada por todos os familiares e está repleta de emoção, inspiração e muito conhecimento!",
      video: videos.imperatriz,
    }
  - var darkBG = true;

