extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Vanessa Tobias",
      subtitle: "Pioneira em processos de Life Coaching.",
      description: "Conheça a essência de uma das mulheres mais Influentes de Santa Catarina. Vanessa Tobias é coaching e atua no segmento de treinamento para vida e empresas.",
      video: videos.vanessatobias,
    }
  - var darkBG = true;