extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Paviloche",
      subtitle: "Conheça a história da Paviloche.",
      description: "Conheça a história da Paviloche.",
      video: videos.paviloche,
    }
  - var darkBG = true;