extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Clinks",
      subtitle: "Especialistas em marketing digital.",
      description: "Conheça a história do Clinks, agência Google partner Premier. Ricardo Azevedo fala como tudo começou e explica como obter melhores resultados utilizando as ferramentas de marketing digital do Google.",
      video: videos.clinks,
    }
  - var darkBG = true;