extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Rockfeller",
      subtitle: "Uma das melhores escolas de idiomas do Brasil.",
      description: "Conheça a história dos fundadores da Rockfeller Language Center, considerada pela associação Brasileira de Franchising e pela revista pequenas empresas grandes negócios, uma das melhores Escolas de idiomas do Brasil. André Belz e Renata Moraes contam em detalhes momentos das suas vidas desde a infância até o momento atual. Saiba como a Rockfeller passou de uma simples escola de inglês para uma das maiores redes de idiomas do país.",
      video: videos.rockfeller,
    }
  - var darkBG = true;