extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Rodrigo Cardoso",
      subtitle: "Treinador, coach, palestrante e escritor.",
      description: "Eleito o Melhor Treinador do Brasil pelo prêmio Top Chance, o Power Trainer Rodrigo Cardoso é o criador de programas únicos e transformadores de formação de treinadores de alto impacto.",
      video: videos.rodrigocardoso,
    }
  - var darkBG = true;