//- LOGO MIXIN
//- This will work for whatever logos
include ../components/logo.pug

//- VIDEO CARD
//- This will serve as the main component to print the video cards in loops
include ../components/video-card.pug

//- SOCIAL SHARE
//- Social icons that will enable sharing in the quote section
include ../components/social-share.pug

//- SERIE COVER
//- The cover card for each serie
include ../components/serie-cover.pug