//- MOTHER DATABASES
//-
//- These databases are KEY. They get referenced by other databases and should not reference any other Database.

include ../_data/categories.pug
include ../_data/profiles.pug
include ../_data/partners.pug
include ../_data/supporters.pug


//- CHILD DATABASES
//-
//- These databases are DIRTY. They can reference Mother Databases or each other.

include ../_data/videos.pug
include ../_data/featured.pug