- var siteURL = "https://mentoresonline.org";
- var siteName = "Mentores Online";
- var siteQuote = "Inspirados por você";
- var siteDesc = "Contamos histórias de empreendedores e negócios de sucesso que inspiram mentes a alcançarem seus próprios sonhos.";
-
  var siteLogo = {
    "white": "/img/logos/logo-mentoresonline--white.svg",
    "black": "/img/logos/logo-mentoresonline--black.svg",
  };

-
  var siteShare = {
    bg: "",
    type: "article",
    locale: "pt_BR",
    socials: [
      {
        name: "instagram",
      },{
        name: "facebook",
      },{
        name: "twitter",
        // Tweet Share Button Parameters https://dev.twitter.com/web/tweet-button/parameters
        url: "https://twitter.com/share?url=https%3A%2F%2Fmentoresonline.org&via=mentoresonline&related=twitterapi%2Ctwitter&hashtags=example%2Cdemo&text=custom%20share%20text",
      },{
        name: "whatsapp",
      },
    ],
  };

-
  var siteSocials = [
    {
      name: "Facebook",
      url: "https://fb.com/mentoresonline",
    },{
      name: "Instagram",
      url: "https://instagram.com/mentoresonline",
    },{
      name: "Youtube",
      url: "https://youtube.com/mentoresonline",
    },
  ]