- var siteURL = "";
- var siteName = "Mentores Online";
- var siteQuote = "Inspirados por você";
- var siteDesc = "Contamos histórias de empreendedores e negócios de sucesso que inspiram mentes a alcançarem seus próprios sonhos."