- var siteURL = "https://mentoresonline.org";
- var siteName = "Mentores Online";
- var siteQuote = "Inspirados por você";
- var siteDesc = "Contamos histórias de empreendedores e negócios de sucesso que inspiram mentes a alcançarem seus próprios sonhos.";
-
  var siteLogo = {
    "white": "img/logos/logo-mentoresonline--white.svg",
    "black": "img/logos/logo-mentoresonline--black.svg",
  };

-
  var siteShare = {
    bg: "",
    type: "article",
    locale: "pt_BR",
  };