extends templates/default.pug

block pageVars
  -
    var page = {
      name: "Home"
    }
  - var darkBG = true;

block content
  main#home.page
    include sections/cover.pug
    section#homeContent.home-content
      include sections/featured-videos.pug
      include sections/quote.pug
      include sections/series-categories.pug
      include sections/supporters.pug