<!DOCTYPE html>
html
  include includes/vars.pug
  include includes/head.pug
  include includes/data.pug
  include includes/components.pug

  body

    main#home.page
      - var darkBG = true;

      include sections/header.pug
      include sections/cover.pug
      include sections/featured-videos.pug
      include sections/quote.pug
      include sections/series-covers.pug
      include sections/supporters.pug
      include sections/footer.pug  

    include includes/scripts.pug
    