extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Di Paolo",
      subtitle: "O melhor da culinária típica italiana",
      description: "Conheça a história do Restaurante Di Paolo. O sócio fundador Roberto Jeremias conta a trajetória de sucesso de um dos melhores restaurantes de comida Italiana do sul do País.",
      video: videos.dipaolo,
    }
  - var darkBG = true;