extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Família Koerich",
      subtitle: "",
      description: "Conheça a história da família Koerich.",
      video: videos.koerich,
    }
  - var darkBG = true;

