/* 
 * ------------------ 
 *    TEXT
 * ------------------ 
 * 
 *    This is the style used for texts
 *
 */

 %text {
  font-family: $font-family--text;

  /*
   * SIZES
   */
  &%--big { font-size: 1.4rem; }
  &%--medium { font-size: 1.2rem; }
  &%--normal { font-size: 1rem; }
  &%--small { font-size: .85rem; }
  &%--x-small { font-size: .75rem; }
  
  @media screen and (max-width: 768px) {
    &%--big { font-size: 1.2rem; }
    &%--medium { font-size: 1.1rem; }
  }
  
  @media screen and (max-width: 480px) {
    &%--big { font-size: 1.1rem; }
    &%--medium { font-size: 1rem; }
    &%--normal { font-size: .95rem; }

  }

  /* 
   *  COLORS 
   */
  &%--dark { color: black; }
  &%--light { color: white; }

  /*
   * LINE-HEIGHT
   */
  &%--line-very-spacy { line-height: 2; }
  &%--line-spacy { line-height: 1.8; }
  &%--line-normal { line-height: 1.6; }
  &%--line-tight { line-height: 1.4; }
  &%--line-very-tight { line-height: 1.2; }
  &%--line-squeeze { line-height: 1; }
}