/* 
 * ------------------ 
 *    TITLE
 * ------------------ 
 * 
 *    This is the style used across the websites for Titles 
 *    - Section titles
 *    - Video titles
 *    - Component titles
 *
 */

%title {
  font-family: $font-family--title;
  font-weight: 800;
  line-height: .9;
  text-transform: uppercase;

  /*
   * SIZES
   */
  &%--big { font-size: 5.5rem; }
  &%--medium { font-size: 4rem; }
  &%--normal { font-size: 1.6rem; }
  &%--small { font-size: 1.4rem; }

  /* 
   *  COLORS 
   */
  &%--dark { color: black; }
  &%--light { color: white; }
}