/* 
 * ------------------ 
 *    TITLE
 * ------------------ 
 * 
 *    This is the style used across the websites for Titles 
 *    - Section titles
 *    - Video titles
 *    - Component titles
 *
 */

%title {
  font-family: $font-family--title;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  /*
   * SIZES
   */
  &%--big { font-size: 5.5rem; }
  &%--medium { font-size: 4rem; }
  &%--normal { font-size: 1.6rem; }
  &%--small { font-size: 1.4rem; }
  &%--x-small { font-size: .9rem; }
  
  @media screen and (max-width: 767px) {
    &%--big { font-size: 3rem; }
    &%--medium { font-size: 2.4rem; }
    &%--normal { font-size: 1.4rem; }
    &%--small { font-size: 1.2rem; }
    &%--x-small { font-size: .8rem; }
  }

  @media screen and (max-width: 375px) {
    &%--big { font-size: 2.6rem; }
    &%--medium { font-size: 2rem; }
  }

  /* 
   *  COLORS 
   */
  &%--dark { color: black; }
  &%--light { color: white; }
}