extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Cassia Mallmann",
      subtitle: "A estilista que idealizou o estilo Bossawear.",
      description: "Conheça a visão de vida e mundo pela ótica de Cássia Mallmann, estilista e empresária do segmento de moda em Santa Catarina.",
      video: videos.cassiamallmann,
    }
  - var darkBG = true;