extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Magrass",
      subtitle: "A maior rede de emagrecimento saudável do Brasil.",
      description: "Conheça a história dos fundadores da Magrass, a maior rede de franquias de emagrecimento saudável do Brasil.",
      video: videos.magrass,
    }
  - var darkBG = true;