extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Dr. Rey",
      subtitle: "Conheça melhor o Doutor Hollywood.",
      description: "Conheça a história de um dos médicos mais famosos do mundo. O Doutor Hollywood conta um pouco da sua história e como vê o mundo.",
      video: videos.drrey,
    }
  - var darkBG = true;