extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Rosana Braga",
      subtitle: "Escritora, psicóloga e coach.",
      description: "Conheça a visão de vida de Rosana Braga, jornalista e escritora especializada em relacionamento e auto estima.",
      video: videos.rosanabraga,
    }
  - var darkBG = true;