//- Categories
//-
//- Responsible to hold each category information.

-
  var categories = {
    "raiox": {
      "name": "Raio-X",
      "meta": "raiox",
      "description": "Hello",
      "bg": "/img/",
      "img": {
        "black": "/img/logos/logo-serie--raio-x--black.svg",
        "white": "/img/logos/logo-serie--raio-x--white.svg",
      }
    },
    "estudodecaso": {
      "name": "Estudo de Caso",
      "meta": "estudodecaso",
      "description": "Hello",
      "bg": "/img/",
      "img": {
        "black": "/img/logos/logo-serie--estudo-de-caso--black.svg",
        "white": "/img/logos/logo-serie--estudo-de-caso--white.svg",
      }
    },
    "semfronteiras": {
      "name": "Sem Fronteiras",
      "meta": "semfronteiras",
      "description": "Hello",
      "bg": "/img/",
      "img": {
        "black": "/img/logos/logo-serie--sem-fronteiras--black.svg",
        "white": "/img/logos/logo-serie--sem-fronteiras--white.svg",
      }
    },
    "linhadotempo": {
      "name": "Linha do Tempo",
      "meta": "linhadotempo",
      "description": "Hello",
      "bg": "/img/",
      "img": {
        "black": "/img/logos/logo-serie--linha-do-tempo--black.svg",
        "white": "/img/logos/logo-serie--linha-do-tempo--white.svg",
      }
    }
  }

// Returns the categories object as array
- var categoriesList = Object.values(categories)
// Returns the categories object length
- var categoriesLength = Object.keys(categories).length