//-----------------------------------------
//-    CATEGORIES DATABASE
//-    Type: Mother
//- 
//-    This database will hold information about the categories of the series created by Mentores Online.
//-
//-   CATEGORIES OBJECT: [CATEGORY Objects]
//-
//-----------------------------------------
//- 
//-   CATEGORY OBJECT:
//-   * Meta: Key ID
//-   * Name: The name of the category
//-   * Description: The description of the category
//-   * Images: [Object]
//-     |-- Cover: The cover image for the category
//-     |-- Logo: [Object]
//-     |   |-- Black: The black version of the logo
//-     |   |-- White: The white version of the logo
//- 
//-----------------------------------------

-
  var categories = {
    "raiox": {
      "meta": "raio-x",
      "name": "Raio-X",
      "description": "A série Raio-X tem como objetivo mostrar a essência do protagonista e descobrir o DNA do sucesso por meio de perguntas profundas sobre vida, mundo e relacionamento.",
      "images": {
        "cover": "raio-x",
        "logo": {
          "black": "raio-x--black",
          "white": "raio-x--white",
        },
      },
    },
    "estudodecaso": {
      "meta": "estudo-de-caso",
      "name": "Estudo de Caso",
      "description": "Os nossos estudos de caso são produzidos com proprietários, gestores ou diretores de empresas que já estão consolidadas, e também com projetos promissores em início de operação. O objetivo é inspirar e contribuir para o aumento do conhecimento de quem procura ser bem sucedido na vida profissional seguindo os exemplos de quem já chegou lá e de quem está no caminho.",
      "images": {
        "cover": "estudo-de-caso",
        "logo": {
          "black": "estudo-de-caso--black",
          "white": "estudo-de-caso--white",
        },
      },
    },
    "semfronteiras": {
      "meta": "sem-fronteiras",
      "name": "Sem Fronteiras",
      "description": "A série Sem Fronteiras não tem roteiro pré-definido, ou barreiras geográficas. O objetivo principal é produzir vídeos com insights relevantes sobre os mais diversos assuntos, de vários lugares do mundo.",
      "images": {
        "cover": "sem-fronteiras",
        "logo": {
          "black": "sem-fronteiras--black",
          "white": "sem-fronteiras--white",
        },
      },
    },
    "linhadotempo": {
      "meta": "linha-do-tempo",
      "name": "Linha do Tempo",
      "description": "A série linha do tempo retrata a vida pessoal e profissional de um mentor de sucesso desde a sua infância até o momento atual.",
      "images": {
        "cover": "linha-do-tempo",
        "logo": {
          "black": "linha-do-tempo--black",
          "white": "linha-do-tempo--white",
        },
      },
    },
  }

//-----------------------------------------
//-   CATEGORIES ARRAY
//- 
//-   Mainly used for looping through the object.
//-----------------------------------------

- var categoriesArray = Object.values(categories)