//- Partners
//-
//- Responsible to hold each partner information.

-
  var partners = [
    {
      "name": "Clinks",
      "img": "/img/partners/partner-logo--clinks--white.svg",
    },{
      "name": "Clinks",
      "img": "/img/partners/partner-logo--clinks--white.svg",
    },{
      "name": "Clinks",
      "img": "/img/partners/partner-logo--clinks--white.svg",
    },{
      "name": "Clinks",
      "img": "/img/partners/partner-logo--clinks--white.svg",
    },{
      "name": "Clinks",
      "img": "/img/partners/partner-logo--clinks--white.svg",
    },{
      "name": "Clinks",
      "img": "/img/partners/partner-logo--clinks--white.svg",
    },
  ]