//-----------------------------------------
//-     PARTNERS DATABASE
//-     Type: Child
//- 
//-     Responsible to hold each partner information. There is no link in the Partners Database.
//-
//-    PARTNERS ARRAY:
//-    * Name: Name of the company
//-    * Logo: The company's logo
//-
//-----------------------------------------

-
  var partners = [
    {
      "name": "Clinks",
      "logo": "clinks--white",
      "url": "https://www.clinks.com.br/",
    },{
    //-   "name": "Komodo",
    //-   "logo": "komodo--white",
    //-   "url": "http://www.komodo.com.br/",
    //- },{
    //- //- //-   "name": "Mormaii",
    //- //- //-   "logo": "mormaii--white",
    //- //- //-   "url": "https://www.mormaii.com.br/site/",
    //- //- //- },{
    //- //-   "name": "Wave",
    //- //-   "logo": "wave--white",
    //- //-   "url": "https://www.academiawave.com.br/",
    //- //- },{
    //-   "name": "Rockfeller",
    //-   "logo": "rockfeller--white",
    //-   "url": "https://www.rockfellerbrasil.com.br/",
    //- },{
      "name": "nomades",
      "logo": "nomades--white",
      "url": "https://www.nomadesbrasil.com/",
    },
  ]