//-----------------------------------------
//-     PARTNERS DATABASE
//-     Type: Child
//- 
//-     Responsible to hold each partner information. There is no link in the Partners Database.
//-
//-    PARTNERS ARRAY:
//-    * Name: Name of the company
//-    * Logo: The company's logo
//-
//-----------------------------------------

-
  var partners = [
    {
      "name": "Clinks",
      "logo": "clinks--white",
      "url": "https://www.clinks.com.br/",
    },{
      "name": "Koerich",
      "logo": "koerich--white",
      "url": "https://www.koerich.com.br",
    },{
    //-   "name": "E. Design",
    //-   "logo": "eryc--white",
    //-   "url": "https://eryc.design",
    //- },{
    //- //-   "name": "Wave",
    //- //-   "logo": "wave--white",
    //- //-   "url": "https://www.academiawave.com.br/",
    //- //- },{
      "name": "Komodo",
      "logo": "komodo--white",
      "url": "https://www.komodo.com.br/",
    },{
      "name": "Nomades",
      "logo": "nomades--white",
      "url": "https://nomadesfranquias.com.br",
    },
  ]