//-----------------------------------------
//-    PROFILE DATABASE
//-    Type: Mother
//-
//-    This database will hold the profiles of each person recorded by the Mentores Online team, with useful information about the person, like a nice profile pic and social media links.
//-
//-    PROFILES OBJECT: [PROFILE Object]
//-
//-----------------------------------------
//-
//-    PROFILE OBJECT:
//-    * Meta: Key ID
//-    * Name: Name of the person
//-    * Job: The job title of that person, or how he/she identifies him/herself.
//-    * Quote: A quote they like, or a mere description of who they are.
//-    * Links: [Array] 
//-      |-- [Object]:
//-      |   - Type: REF. specific [LINKS] Object.
//-      |   - Handle: The link/social handle.
//-    * Images: [Object]
//-       |-- Profile: The profile picture
//-
//-----------------------------------------

-
  var profiles = {
    "marceloperuzzo": {
      "meta": "marcelo-peruzzo",
      "name": "Marcelo Peruzzo",
      "job": "Professor, Palestrante, Consultor e Empreendedor",
      "quote": "Marcelo Peruzzo é conhecido por ser o professor de Neuromarketing mais conceituado do Brasil, eleito 8 anos seguidos como o melhor professor da FGV",
      "links": [
        {
          type: links.website,
          handle: "www.marceloperuzzo.com.br/",
        },{
          type: links.instagram,
          handle: "professorperuzzo",
        },{
          type: links.twitter,
          handle: "profperuzzo",
        },{
          type: links.youtube,
          handle: "user/profperuzzo",
        },{
          type: links.linkedin,
          handle: "marceloperuzzo",
        },
      ],
      "images": {
        "profile": "marcelo-peruzzo",
      },
    },
    "tecopadaratz": {
      "meta": "teco-padaratz",
      "name": "Flávio Padaratz",
      "job": "Surfista, ator e músico brasileiro",
      "quote": "Mais conhecido como Teco Padaratz, Flávio é um surfista e ator brasileiro, bicampeão mundial do WQS (World Men's Qualifying Series). Hoje faz parte da banda 5/11, onde é vocalista.",
      "links": [
        {
          type: links.facebook,
          handle: "tecopadaratz",
        },{
          type: links.instagram,
          handle: "tpadaratz",
        },{
          type: links.website,
          handle: "pt.wikipedia.org/wiki/Teco_Padaratz",
        },
      ],
      "images": {
        "profile": "teco-padaratz",
      },
    },
    "paolotrevisan": {
      "meta": "paolo-trevisan",
      "name": "Paolo Trevisan",
      "job": "Head of Design da Pininfarina",
      "quote": "Paolo já gerenciou mais de 100 iniciativas, incluindo projetos para The Related, Cyrela, Pasqualotto, Coca-Cola, Samsung, a primeira coleção de Lifestyle da Pininfarina, e agora, a edição limitada do Chivas 18 pela Pininfarina.",
      "links": [
        {
          type: links.linkedin,
          handle: "paolo-trevisan-a650792/",
        },{
          type: links.facebook,
          handle: "PininfarinaSpA",
        },{
          type: links.instagram,
          handle: "pininfarina_official",
        },{
          type: links.website,
          handle: "www.pininfarina.com/en/homepage/homepage.htm",
        },
      ],
      "images": {
        "profile": "paolo-trevisan",
      },
    },
    "karinapeloi": {
      "meta": "karina-peloi",
      "name": "Karina Peloi",
      "job": "Nutricionista e Coach",
      "quote": "Pós-graduada em Nutrição Funcional, e formada em Coach pelo americano Rhandy Di Stephano no Integrated Coaching Institute. Karina tem o propósito de ajudar milhares de mulheres a serem mais magras e felizes.",
      "links": [
        {
          type: links.youtube,
          handle: "channel/UCDT0AvMYE95hFmBa4swASvg",
        },{
          type: links.facebook,
          handle: "karinapeloinutricionista",
        },{
          type: links.instagram,
          handle: "karinapeloinutricionista",
        },{
          type: links.website,
          handle: "metodomagraparasempre.com.br",
        },
      ],
      "images": {
        "profile": "karina-peloi",
      },
    },
    "wendellcarvalho": {
      "meta": "wendell-carvalho",
      "name": "Wendell Carvalho",
      "job": "CEO da Kairos Treinamentos",
      "quote": "Empreendedor e profundo pesquisador dos padrões de comportamento humanos. Impacta milhares de pessoas todos os anos com seus eventos presenciais de imersão, treinamentos on-line, mentorias, palestras e coaching para alta performance com líderes, executivos e atletas.",
      "links": [
        {
          type: links.youtube,
          handle: "channel/UCLyagz9J8bEcAEXDY8CfkAQ",
        },{
          type: links.facebook,
          handle: "KairosTreinamentos",
        },{
          type: links.instagram,
          handle: "wendellcarvalho_oficial",
        },{
          type: links.website,
          handle: "wendellcarvalho.com.br",
        },
      ],
      "images": {
        "profile": "wendell-carvalho",
      },
    },
    "rosanabraga": {
      "meta": "rosana-braga",
      "name": "Rosana Braga",
      "job": "Escritora, psicóloga e coach",
      "quote": "Autora de 8 livros sobre amor e relacionamento, dentre eles, best-sellers 'Faça o Amor Valer a Pena' e 'O Poder da Gentileza', Rosana Braga é pós-graduada em educação sexual e reconhecida como uma das maiores especialistas em relacionamento & comunicação do país.",
      "links": [
        {
          type: links.youtube,
          handle: "user/senhabaggio",
        },{
          type: links.facebook,
          handle: "rosanabragaescritora",
        },{
          type: links.instagram,
          handle: "braga_rosana",
        },{
          type: links.twitter,
          handle: "rosana_braga",
        },{
          type: links.website,
          handle: "rosanabraga.com.br",
        },
      ],
      "images": {
        "profile": "rosana-braga",
      },
    },
    "rodrigocardoso": {
      "meta": "rodrigo-cardoso",
      "name": "Rodrigo Cardoso",
      "job": "Treinador, Coach, Palestrante e Escritor",
      "quote": "Engenheiro formado pela USP com pós-graduaçnao em psicologia, Leader Coach pelo Institute of International Research & Crescimentum com formação internacional em Coaching, Mentoring e Holomentoring pelo Instituto Holus e Master PRacticioner pela SBPNL.",
      "links": [
        {
          type: links.youtube,
          handle: "user/rodrigocardosoBR",
        },{
          type: links.facebook,
          handle: "PowerTrainer.UL",
        },{
          type: links.instagram,
          handle: "rodrigo_cardosobr",
        },{
          type: links.website,
          handle: "rodrigocardoso.com.br/novo-site",
        },
      ],
      "images": {
        "profile": "rodrigo-cardoso",
      },
    },
    "neymoraes": {
      "meta": "ney-moraes",
      "name": "Ney Moraes",
      "job": "CEO da Lunarfilm",
      "quote": "Ney é um empreendedor nato que superou todas as suas adversidades e hoje tem uma das maiores empresas distribuidoras de películas automotivas e residenciais do Brasil, a R5 Window Film.",
      "links": [
        {
          type: links.youtube,
          handle: "user/lunarfilmpeliculas",
        },{
          type: links.facebook,
          handle: "lunarfilmpeliculas",
        },{
          type: links.instagram,
          handle: "lunarfilmpeliculas",
        },{
          type: links.website,
          handle: "www.lunarfilm.com.br",
        },
      ],
      "images": {
        "profile": "ney-moraes",
      },
    },
    "morongo": {
      "meta": "morongo",
      "name": "Marco Aurélio Raymundo",
      "job": "Empreendedor, Doutor e Surfista",
      "quote": "Formado em medicina, Morongo deixou o Rio Grande do Sul para viver uma vida diferente em Santa Catarina. A vontade de surfar e o altruísmo o atraíram para um vilarejo ainda sem abastecimento de energia elétrica e atendimento médico, onde estabeleceu posto, ajudou pessoas e começou seu negócio de roupas de neoprene.",
      "links": [
        {
          type: links.youtube,
          handle: "user/Mormaiioficial",
        },{
          type: links.facebook,
          handle: "MormaiiOficial",
        },{
          type: links.instagram,
          handle: "mormaiioficial",
        },{
          type: links.website,
          handle: "www.mormaii.com.br",
        },
      ],
      "images": {
        "profile": "morongo",
      },
    },
    "brunoselva": {
      "meta": "bruno-selva",
      "name": "Bruno Selva",
      "job": "Engenheiro, Empreendedor e Gerente de Projetos da Automation Anywhere",
      "quote": "Formado em engenharia na UFSC, e com mestrado em Software Management na Carnegie Mellon University, Bruno está trabalhando para criar a ponte entre empresas e a tecnologia de Inteligencia Artificial através de produtos.",
      "links": [
        {
          type: links.linkedin,
          handle: "brunoselva",
        },
      ],
      "images": {
        "profile": "bruno-selva",
      },
    },
    "simonecesa": {
      "meta": "simone-cesa",
      "name": "Simone Cesa",
      "job": "Especialista em Internacionalização da Apple",
      "quote": "Formada em Relações Internacionais na UFSC, Simone conquistou mestrados de Peacekeeping and Security Studies na Università degli Studi di Roma Tre, e International Marketng na Hult International Business School. Simone já ajudou empresas como Glassdoor e Yik Yak, em São Francisco, e agora trabalha para a Apple, em Cupertino.",
      "links": [
        {
          type: links.linkedin,
          handle: "simonecesademelo",
        },
      ],
      "images": {
        "profile": "simone-cesa",
      },
    },
    "cassiamallmann": {
      "meta": "cassia-mallmann",
      "name": "Cassia Mallmann",
      "job": "Estilista e Empreendedora",
      "quote": "Em 2006 a estilista Cássia Mallmann idealizou que a moda Praia brasileira tinha espaço para uma leitura mais autoral, e foi assim que criou a marca que leva o seu nome. Hoje a marca CASSIA MALLMANN tem consolidação nacional, vestindo diversas personalidades do meio artístico e social, e mantendo pontos de vendas de referência em todos os estados brasileiros.",
      "links": [
        {
          type: links.pinterest,
          handle: "Cassiamallmann",
        },{
          type: links.facebook,
          handle: "CassiaMallmann",
        },{
          type: links.instagram,
          handle: "cassiamallmann",
        },
      ],
      "images": {
        "profile": "cassia-mallmann",
      },
    },
    "vanessatobias": {
      "meta": "vanessa-tobias",
      "name": "Vanessa Tobias",
      "job": "Empresária e Coach",
      "quote": "A empresária é pioneira em processos de Life Coaching em grupo no Brasil, mestre em Administração pela ESAG, vencedora do Prêmio Mulheres que fazem a Diferença da ACIF, na categoria negócios e possui cursos nacionais e internacionais – Estados Unidos e Austrália – com os principais nomes da sua área.",
      "links": [
        {
          type: links.youtube,
          handle: "user/VANESSATOBIASAL",
        },{
          type: links.facebook,
          handle: "grupovanessatobias",
        },{
          type: links.instagram,
          handle: "vanessa_tobias",
        },{
          type: links.website,
          handle: "www.vanessatobias.com.br",
        },
      ],
      "images": {
        "profile": "vanessa-tobias",
      },
    },
    "pauloroberto": {
      "meta": "paulo-roberto",
      "name": "Paulo Roberto",
      "job": "Empresário e ex-jogador de futebol",
      "quote": "Paulo Roberto foi revelado pelo Grêmio em 1981, em um pequeno clube de futebol amador de Viamão chamado Tamoio Futebol Clube. No tricolor gaúcho, foi campeão do Campeonato Brasileiro de 1981, e da Libertadores e da Copa Intercontinental em 1983.",
      "links": [
        {
          type: links.website,
          handle: "pt.wikipedia.org/wiki/Paulo_Roberto_Curtis_Costa",
        },
      ],
      "images": {
        "profile": "paulo-roberto",
      },
    },
    "paulocordova": {
      "meta": "paulo-cordova",
      "name": "Paulo Córdova",
      "job": "Empresário e fundadora da rede Magrass",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.magrass.com.br",
        },{
          type: links.facebook,
          handle: "magrassfloripacoqueiros",
        },
      ],
      "images": {
        "profile": "paulo-cordova",
      },
    },
    "leydeludwig": {
      "meta": "leyde-ludwig",
      "name": "Leyde Ludwig",
      "job": "Empresária e fundadora da rede Magrass",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.magrass.com.br",
        },{
          type: links.facebook,
          handle: "magrassfloripacoqueiros",
        },{
          type: links.facebook,
          handle: "leyde.ludwig",
        },
      ],
      "images": {
        "profile": "paulo-roberto",
      },
    },
    "alcinopasqualotto": {
      "meta": "alcino-pasqualotto",
      "name": "Alcino Pasqualotto",
      "job": "Empresário e diretor da Construtora Pasqualotto",
      "quote": "",
      "links": [
        {
          type: links.instagram,
          handle: "alcinopasqualotto",
        },{
          type: links.website,
          handle: "construtorapasqualotto.com.br",
        }
      ],
      "images": {
        "profile": "alcino-pasqualotto",
      },
    },
    "robertojeremias": {
      "meta": "roberto-jeremias",
      "name": "Roberto Jeremias",
      "job": "Sócio-Fundador",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "casadipaolo.com.br",
        },{
          type: links.facebook,
          handle: "CasaDiPaolo",
        },
      ],
      "images": {
        "profile": "roberto-jeremias",
      },
    },
    "marcosgracher": {
      "meta": "marcos-gracher",
      "name": "Marcos Gracher",
      "job": "Diretor do Grupo Wave e proprietário da Academia Wave",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.academiawave.com.br",
        },{
          type: links.facebook,
          handle: "academiawave",
        },{
          type: links.instagram,
          handle: "academiawave",
        },
      ],
      "images": {
        "profile": "marcos-gracher",
      },
    },
    "thiagoribeiro": {
      "meta": "thiago-ribeiro",
      "name": "Thiago Ribeiro",
      "job": "Proprietário",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.donafulana.com/home",
        },{
          type: links.facebook,
          handle: "DonaFulana",
        },{
          type: links.instagram,
          handle: "donafulana",
        },{
          type: links.twitter,
          handle: "sigadonafulana",
        },
      ],
      "images": {
        "profile": "thiago-ribeiro",
      },
    },
    "andresiqueira": {
      "meta": "andre-siqueira",
      "name": "André Siqueira",
      "job": "Co-Fundador da Resultados Digitais",
      "quote": "André Siqueira é administrador pela Universidade Federal de Santa Catarina, foi professor de pós graduação na disciplina de marketing em redes sociais e é co-fundador e Head de Marketing da Resultados Digitais, empresa líder de automação de Marketing na América Latina",
      "links": [
        {
          type: links.website,
          handle: "resultadosdigitais.com.br",
        },{
          type: links.linkedin,
          handle: "andregcsiqueira",
        },{
          type: links.twitter,
          handle: "andresiqueira",
        },
      ],
      "images": {
        "profile": "andre-siqueira",
      },
    },
    "drrey": {
      "meta": "dr-rey",
      "name": "Dr. Rey",
      "job": "Doutor Hollywood",
      "quote": "Cirurgião Plástico e Personalidade de TV. “Amo o meu Deus, minha família, meu país e meus pacientes!”",
      "links": [
        {
          type: links.website,
          handle: "www.drrobertrey.com",
        },{
          type: links.youtube,
          handle: "c/drreyvideos",
        },{
          type: links.twitter,
          handle: "RobertReyMD",
        },{
          type: links.instagram,
          handle: "drrobertrey"
        }
      ],
      "images": {
        "profile": "dr-rey",
      },
    },
    "andrebelz": {
      "meta": "andre-belz",
      "name": "André Belz",
      "job": "Sócio-Fundador",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.rockfellerbrasil.com.br",
        },{
          type: links.youtube,
          handle: "user/RockfellerBrasil",
        },{
          type: links.facebook,
          handle: "RockfellerLanguageCenter",
        },{
          type: links.instagram,
          handle: "rockfellerlanguagecenter"
        },{
          type: links.linkedin,
          handle: "andre-belz-80075b21"
        }
      ],
      "images": {
        "profile": "andre-belz",
      },
    },
    "renatamorais": {
      "meta": "renata-morais",
      "name": "Renata Morais",
      "job": "Sócia-Fundadora",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.rockfellerbrasil.com.br",
        },{
          type: links.youtube,
          handle: "user/RockfellerBrasil",
        },{
          type: links.facebook,
          handle: "RockfellerLanguageCenter",
        },{
          type: links.instagram,
          handle: "rockfellerlanguagecenter"
        },{
          type: links.linkedin,
          handle: "renata-morais-68919a29"
        }
      ],
      "images": {
        "profile": "renata-morais",
      },
    },
    "leonardocharamba": {
      "meta": "leonardo-charamba",
      "name": "Leonardo Charamba",
      "job": "Sócio-Proprietário",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "camilasrestaurant.com",
        },{
          type: links.facebook,
          handle: "camilasrestaurante",
        },{
          type: links.instagram,
          handle: "camilasrestaurant"
        },
      ],
      "images": {
        "profile": "leonardo-charamba",
      },
    },
    "alexalencar": {
      "meta": "alex-alencar",
      "name": "Alex Alencar",
      "job": "Sócio-Proprietário",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "camilasrestaurant.com",
        },{
          type: links.facebook,
          handle: "camilasrestaurante",
        },{
          type: links.instagram,
          handle: "camilasrestaurant"
        },
      ],
      "images": {
        "profile": "alex-alencar",
      },
    },
    "fabriciooliveira": {
      "meta": "fabricio-oliveira",
      "name": "Fabrício Oliveira",
      "job": "Prefeito de Balneário Camburiú",
      "quote": "",
      "links": [
        {
          type: links.website,
          handle: "www.camara.leg.br/internet/deputado/Dep_Detalhe.asp?id=5830844",
        },{
          type: links.facebook,
          handle: "fabriciooliveira05",
        },
      ],
      "images": {
        "profile": "fabricio-oliveira",
      },
    },
    "ricardoazevedo": {
      "meta": "ricardo-azevedo",
      "name": "Ricardo Azevedo",
      "job": "Diretor da Clinks e Sócio do Mentores Online",
      "quote": "Profissional com mais de 10 anos de experiência em posicionamento de sites no Google por meio de links patrocinados, sendo certificado GAP (Google Advertising Profissional) - já recebeu vários prêmios do Google. Em maio de 2017 passa a compor o quadro societário da Mentores Online.",
      "links": [
        {
          type: links.website,
          handle: "clinks.com.br",
        },{
          type: links.facebook,
          handle: "clinksbr",
        },{
          type: links.twitter,
          handle: "clinksbrasil",
        },{
          type: links.linkedin,
          handle: "ricardo-azevedo∴-7b330023/",
        },{
          type: links.instagram,
          handle: "agenciaclinks",
        },
      ],
      "images": {
        "profile": "ricardo-azevedo",
      },
    },
  }