//-----------------------------------------
//-     SUPPORTERS DATABASE
//-     Type: Child
//- 
//-     Responsible to hold each supporter information.
//-
//-    SUPPORTERS ARRAY:
//-    * Name: Name of the company
//-    * URL: The URL of the company's website
//-    * Logo: The company's logo
//-
//-----------------------------------------

-
  var supporters = [
    {
      "name": "Clinks",
      "logo": "clinks--black",
      "url": "https://www.clinks.com.br/",
    },{
      "name": "Komodo",
      "logo": "komodo--black",
      "url": "http://www.komodo.com.br/",
    },{
    //-   "name": "Mormaii",
    //-   "logo": "mormaii--black",
    //-   "url": "https://www.mormaii.com.br/site/",
    //- },{
    //-   "name": "Wave",
    //-   "logo": "wave--black",
    //-   "url": "https://www.academiawave.com.br/",
    //- },{
    //-   "name": "Rockfeller",
    //-   "logo": "rockfeller--black",
    //-   "url": "https://www.rockfellerbrasil.com.br/",
    //- },{
      "name": "nomades",
      "logo": "nomades--black",
      "url": "https://www.nomadesbrasil.com/",
    },
  ]