//-----------------------------------------
//-     SUPPORTERS DATABASE
//-     Type: Child
//- 
//-     Responsible to hold each supporter information.
//-
//-    SUPPORTERS ARRAY:
//-    * Name: Name of the company
//-    * URL: The URL of the company's website
//-    * Logo: The company's logo
//-
//-----------------------------------------

-
  var supporters = [
    {
      "name": "Clinks",
      "logo": "clinks--black",
      "url": "https://www.clinks.com.br/",
    },{
      "name": "Koerich",
      "logo": "koerich--black",
      "url": "https://www.koerich.com.br",
    },{
    //-   "name": "E. Design",
    //-   "logo": "eryc--black",
    //-   "url": "https://eryc.design",
    //- },{
    //-   "name": "Wave",
    //-   "logo": "wave--black",
    //-   "url": "https://www.academiawave.com.br/",
    //- },{
      "name": "Komodo",
      "logo": "komodo--black",
      "url": "https://www.komodo.com.br",
    },{
      "name": "Nomades",
      "logo": "nomades--black",
      "url": "https://nomadesfranquias.com.br",
    },
  ]