//-----------------------------------------
//-     VIDEOS DATABASE
//-     Type: Child
//- 
//-     This database will hold information about each video recorded by the Mentores Online team, referencing other Databases, like Profiles and Categories databases.
//-
//-    VIDEOS OBJECT: [VIDEO Object]
//-
//-----------------------------------------
//-
//-    VIDEO OBJECT:
//-    * Meta: Key ID
//-    * Title: The title for this specific video
//-    * Description: The description for this specific video
//-    * Date: [Object]
//-    * |-- Year: The year the video has been released
//-    * Category: REF. specific [CATEGORIES] Object
//-    * Profiles: [Array]
//-    * |-- REF. specific [PROFILES] Object
//-    * Images: [Object]
//-    * |-- Minicover: The mini cover for video cards
//-    * |-- Minipreview: The mini preview for video cards
//-    * |-- Cover: The full-size pictures
//-    * URL: The YouTube URL for the video 
//-
//-----------------------------------------

-
  var videos = {
    "marceloperuzzo": {
      "meta": "marcelo-peruzzo",
      "title": "Marcelo Peruzzo",
      "description": "Conheça a brilhante história de vida de Marcelo Peruzzo, desde suas motivações na infância até suas ideias mais recentes, que o levaram ao mundo do Neuromarketing, Tecnologia e Blockchain (bitcoin).",
      "date": {
        "year": "2018",
      },
      "category": categories.raiox,
      "profiles": [profiles.marceloperuzzo],
      "images": {
        "cover": "marcelo-peruzzo",
        "minicover": "marcelo-peruzzo--bg",
        "minipreview": "marcelo-peruzzo-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=D-28Ahe5P2Q",
      "key": "D-28Ahe5P2Q",
    },
    "tecopadaratz": {
      "meta": "teco-padaratz",
      "title": "Teco Padaratz",
      "description": "Bi-campeão de surfe, Flávio Padaratz, mais conhecido como Teco, compartilha sua história, desde que era pequeno até conquistar o sucesso, e o que sucesso significa em sua visão. Sua energia e personalidade tornam suas conquistas em ensinamentos para todos ao seu redor.",
      "date": {
        "year": "2018",
      },
      "category": categories.raiox,
      "profiles": [profiles.tecopadaratz],
      "images": {
        "cover": "teco-padaratz",
        "minicover": "teco-padaratz--bg",
        "minipreview": "teco-padaratz-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=pRoBcCyF_-I",
      "key": "pRoBcCyF_-I",
    },
    "pininfarina": {
      "meta": "pininfarina",
      "title": "Pininfarina",
      "description": "Paolo Trevisan, head of design da Pininfarina of America, responsável pelo design industrial, marítimo e arquitetônico, fala sobre como a Pininfarina mantém uma cultura de inovação e tecnologia no Brasil, e no mundo. A Pininfarina tem 88 anos de história, e já tornou possível projetos como Ferrari, Maserati, Schaefer Yachts, e o maior prédio da America Latina, o Yacht House de Balneário Camboriú.",
      "date": {
        "year": "2018",
      },
      "category": categories.semfronteiras,
      "profiles": [profiles.paolotrevisan],
      "images": {
        "cover": "pininfarina",
        "minicover": "pininfarina--bg",
        "minipreview": "pininfarina-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=sDVoB_P3qbg",
      "key": "sDVoB_P3qbg",
    },
    "karinapeloi": {
      "meta": "karina-peloi",
      "title": "Karina Peloi",
      "description": "Criadora do método de emagrecimento MAGRA PARA SEMPRE revela a sua essência e seu ponto de vista sobre questões da vida!",
      "date": {
        "year": "2018",
      },
      "category": categories.raiox,
      "profiles": [profiles.karinapeloi],
      "images": {
        "cover": "karina-peloi",
        "minicover": "karina-peloi--bg",
        "minipreview": "karina-peloi-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=9AZXJLaFZ40",
      "key": "9AZXJLaFZ40",
    },
    "wendellcarvalho": {
      "meta": "wendell-carvalho",
      "title": "Wendell Carvalho",
      "description": "Inspire-se com a visão de vida do especialista em mudança comportamental e estratégias para atingir metas.",
      "date": {
        "year": "2018",
      },
      "category": categories.raiox,
      "profiles": [profiles.wendellcarvalho],
      "images": {
        "cover": "wendell-carvalho",
        "minicover": "wendell-carvalho--bg",
        "minipreview": "wendell-carvalho-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=6mwl-HU6hQA",
      "key": "6mwl-HU6hQA",
    },
    "rosanabraga": {
      "meta": "rosana-braga",
      "title": "Rosana Braga",
      "description": "Conheça a visão de vida de Rosana Braga, jornalista e escritora especializada em relacionamento e auto estima.",
      "date": {
        "year": "2018",
      },
      "category": categories.raiox,
      "profiles": [profiles.rosanabraga],
      "images": {
        "cover": "rosana-braga",
        "minicover": "rosana-braga--bg",
        "minipreview": "rosana-braga-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=ZWuKasPfuOo",
      "key": "ZWuKasPfuOo",
    },
    "rodrigocardoso": {
      "meta": "rodrigo-cardoso",
      "title": "Rodrigo Cardoso",
      "description": "Eleito o Melhor Treinador do Brasil pelo prêmio Top Chance, o Power Trainer Rodrigo Cardoso é o criador de programas únicos e transformadores de formação de treinadores de alto impacto.",
      "date": {
        "year": "2018",
      },
      "category": categories.raiox,
      "profiles": [profiles.rodrigocardoso],
      "images": {
        "cover": "rodrigo-cardoso",
        "minicover": "rodrigo-cardoso--bg",
        "minipreview": "rodrigo-cardoso-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=EX2rL1VtDm0",
      "key": "EX2rL1VtDm0",
    },
    "cassiamallmann": {
      "meta": "cassia-mallmann",
      "title": "Cassia Mallmann",
      "description": "Conheça a visão de vida e mundo pela ótica de Cássia Mallmann, estilista e empresária do segmento de moda em Santa Catarina.",
      "date": {
        "year": "2017",
      },
      "category": categories.raiox,
      "profiles": [profiles.cassiamallmann],
      "images": {
        "cover": "cassia-mallmann",
        "minicover": "cassia-mallmann--bg",
        "minipreview": "cassia-mallmann-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=8qlFx-r02Zc",
      "key": "8qlFx-r02Zc",
    },
    "vanessatobias": {
      "meta": "vanessa-tobias",
      "title": "Vanessa Tobias",
      "description": "Conheça a essência de uma das mulheres mais Influentes de Santa Catarina. Vanessa Tobias é coaching e atua no segmento de treinamento para vida e empresas.",
      "date": {
        "year": "2017",
      },
      "category": categories.raiox,
      "profiles": [profiles.vanessatobias],
      "images": {
        "cover": "vanessa-tobias",
        "minicover": "vanessa-tobias--bg",
        "minipreview": "vanessa-tobias-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=C-zh-3HNSNQ",
      "key": "C-zh-3HNSNQ",
    },
    "clinks": {
      "meta": "clinks",
      "title": "Clinks",
      "description": "Conheça a história do Clinks, agência Google partner Premier. Ricardo Azevedo fala como tudo começou e explica como obter melhores resultados utilizando as ferramentas de marketing digital do Google.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.ricardoazevedo],
      "images": {
        "cover": "clinks",
        "minicover": "clinks--bg",
        "minipreview": "clinks-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=n2CdK-4xvuo",
      "key": "n2CdK-4xvuo",
    },
    "brunoesimone": {
      "meta": "bruno-e-simone",
      "title": "Bruno Selva e Simone Cesa",
      "description": "O Mentores Online foi até o vale do silício e entrevistou dois Brasileiros que trabalham em gigantes da tecnologia. Bruno Selva e Simone Cesa falam como é trabalhar e morar no berço da inovação nos Estados Unidos.",
      "date": {
        "year": "2017",
      },
      "category": categories.semfronteiras,
      "profiles": [profiles.brunoselva, profiles.simonecesa],
      "images": {
        "cover": "bruno-simone",
        "minicover": "bruno-simone--bg",
        "minipreview": "bruno-simone-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=G-yXlqa-hH8",
      "key": "G-yXlqa-hH8",
    },
    "lunarfilm": {
      "meta": "lunarfilm",
      "title": "Lunarfilm",
      "description": "Conheça a história do Ney da Lunarfilm. Um empreendedor nato que superou todas as adversidades e hoje tem um das maiores empresas distribuidoras de películas automotivas e residenciais do Brasil a R5 Window Film.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.neymoraes],
      "images": {
        "cover": "lunarfilm",
        "minicover": "lunarfilm--bg",
        "minipreview": "lunarfilm-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=hWOjNVRqWx4",
      "key": "hWOjNVRqWx4",
    },
    "morongomormaii": {
      "meta": "morongo-mormaii",
      "title": "Morongo da Mormaii",
      "description": "Existem jeitos e jeitos de lidar com negócios. E existe também o jeito do Morongo. O apelido, aliás, vem da infância. Marco Aurélio trazia umas pintinhas no rosto, semelhantes às existentes no morango.... Conheça a História de vida do fundador da Mormaii. Médico, músico, surfista, visionário!",
      "date": {
        "year": "2017",
      },
      "category": categories.linhadotempo,
      "profiles": [profiles.morongo],
      "images": {
        "cover": "morongo",
        "minicover": "morongo--bg",
        "minipreview": "morongo-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=BObuVPlA9rE",
      "key": "BObuVPlA9rE",
    },
    "magrass": {
      "meta": "magrass",
      "title": "Magrass",
      "description": "Conheça a história dos fundadores da Magrass, a maior rede de franquias de emagrecimento saudável do Brasil.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.paulocordova, profiles.leydeludwig],
      "images": {
        "cover": "magrass",
        "minicover": "magrass--bg",
        "minipreview": "magrass-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=xL0inSoP-LM",
      "key": "xL0inSoP-LM",
    },
    "marcosgracher": {
      "meta": "marcos-gracher",
      "title": "Marcos Gracher",
      "description": "Em um formato de documentário, amigos e familiares contam em detalhes várias etapas da vida de Marcos Gracher, diretor do Grupo Wave e proprietário da Academia Wave considerada uma das maiores academias do Brasil.",
      "date": {
        "year": "2017",
      },
      "category": categories.linhadotempo,
      "profiles": [profiles.marcosgracher],
      "images": {
        "cover": "marcos-gracher",
        "minicover": "marcos-gracher--bg",
        "minipreview": "marcos-gracher-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=I-jEtuMNu90",
      "key": "I-jEtuMNu90",
    },
    "pasqualotto": {
      "meta": "pasqualotto",
      "title": "Construtora Pasqualotto",
      "description": "Conheça a história da Construtora Pasqualotto. Alcino Pasqualotto conta como tudo começou e relata os diferenciais que fazem a empresa ser referência no segmento da construção civil no Brasil.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.alcinopasqualotto],
      "images": {
        "cover": "pasqualotto",
        "minicover": "pasqualotto--bg",
        "minipreview": "pasqualotto-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=vRc7EqCFVZk",
      "key": "vRc7EqCFVZk",
    },
    "pauloroberto": {
      "meta": "paulo-roberto",
      "title": "Paulo Roberto",
      "description": "Conheça a história de vida de um dos maiores jogadores de futebol Brasileiro. Campeão mundial pelo Grêmio em 1983 e jogador da seleção brasileira em 1987. Ele foi o jogador que mais jogou em clubes de massa do Brasil.",
      "date": {
        "year": "2017",
      },
      "category": categories.linhadotempo,
      "profiles": [profiles.pauloroberto],
      "images": {
        "cover": "paulo-roberto",
        "minicover": "paulo-roberto--bg",
        "minipreview": "paulo-roberto-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=JH2gv3n9Em8",
      "key": "JH2gv3n9Em8",
    },
    "dipaolo": {
      "meta": "di-paolo",
      "title": "Di Paolo",
      "description": "Conheça a história do Restaurante Di Paolo. O sócio fundador Roberto Jeremias conta a trajetória de sucesso de um dos melhores restaurantes de comida Italiana do sul do País.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.robertojeremias],
      "images": {
        "cover": "di-paolo",
        "minicover": "di-paolo--bg",
        "minipreview": "di-paolo-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=6WKctFnS2aA",
      "key": "6WKctFnS2aA",
    },
    "donafulana": {
      "meta": "dona-fulana",
      "title": "Dona Fulana",
      "description": "Conheça a história da Dona Fulana, uma rede de confeitarias com um conceito diferenciado que é um sucesso na grande Florianópolis e está com projeto de expansão no modelo de franquia.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.thiagoribeiro],
      "images": {
        "cover": "dona-fulana",
        "minicover": "dona-fulana--bg",
        "minipreview": "dona-fulana-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=BIEj_vNlFQ0",
      "key": "BIEj_vNlFQ0",
    },
    "resultadosdigitais": {
      "meta": "resultados-digitais",
      "title": "Resultados Digitais",
      "description": "Conheça a história da empresa Resultados Digitais. O  sócio fundandor André Siqueira conta como tudo começou e destaca os diferenciais que fizeram a empresa sediada em Florianópolis ser uma das maiores no segmento tecnológico no mercado brasileiro.",
      "date": {
        "year": "2017",
      },
      "category": categories.estudodecaso,
      "profiles": [profiles.andresiqueira],
      "images": {
        "cover": "resultados-digitais",
        "minicover": "resultados-digitais--bg",
        "minipreview": "resultados-digitais-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=WpAGN6cnt3c",
      "key": "WpAGN6cnt3c",
    },
    "drrey": {
      "meta": "dr-rey",
      "title": "Dr. Rey",
      "description": "Conheça a história de um dos médicos mais famosos do mundo. O Doutor Hollywood conta um pouco da sua história e como vê o mundo.",
      "date": {
        "year": "2017",
      },
      "category": categories.semfronteiras,
      "profiles": [profiles.drrey],
      "images": {
        "cover": "dr-rey",
        "minicover": "dr-rey--bg",
        "minipreview": "dr-rey-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=LSJ_6xrP7vw",
      "key": "LSJ_6xrP7vw",
    },
    "rockfeller": {
      "meta": "rockfeller",
      "title": "Rockfeller",
      "description": "Conheça a história dos fundadores da Rockfeller Language Center, considerada pela associação Brasileira de Franchising e pela revista pequenas empresas  grandes negócios, uma das melhores Escolas de idiomas do Brasil. André Belz e Renata Moraes contam em detalhes momentos das suas vidas desde a infância até o momento atual. Saiba como a Rockfeller passou de uma simples escola de inglês para uma das maiores redes de idiomas do país.",
      "date": {
        "year": "2017",
      },
      "category": categories.linhadotempo,
      "profiles": [profiles.andrebelz, profiles.renatamorais],
      "images": {
        "cover": "rockfeller",
        "minicover": "rockfeller--bg",
        "minipreview": "rockfeller-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=NVwsvFEhoKQ",
      "key": "NVwsvFEhoKQ",
    },
    "camilas": {
      "meta": "camilas",
      "title": "Camila's",
      "description": "Conheça a história de vida de Leonardo Charamba, pernambucano, e Alex Alencar, paraibano. A dupla começou como funcionários comuns do restaurante Camila’s.",
      "date": {
        "year": "2017",
      },
      "category": categories.linhadotempo,
      "profiles": [profiles.leonardocharamba, profiles.alexalencar],
      "images": {
        "cover": "camilas",
        "minicover": "camilas--bg",
        "minipreview": "camilas-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=RPNQ8-9lZnU",
      "key": "RPNQ8-9lZnU",
    },
    "fabriciooliveira": {
      "meta": "fabricio-oliveira",
      "title": "Fabrício Oliveira",
      "description": "Conheça a história de vida do atual prefeito de Balneário Camboriú (2016 - 2020)  Ele foi o vereador mais jovem a ser eleito em Santa Catarina e Deputado federal.",
      "date": {
        "year": "2017",
      },
      "category": categories.linhadotempo,
      "profiles": [profiles.fabriciooliveira],
      "images": {
        "cover": "fabricio-oliveira",
        "minicover": "fabricio-oliveira--bg",
        "minipreview": "fabricio-oliveira-hover--bg",
      },
      "url": "https://www.youtube.com/watch?v=ui93VmA6KvE",
      "key": "ui93VmA6KvE",
    },
  }

//-----------------------------------------
//-   VIDEOS ARRAY
//- 
//-   Mainly used for looping through the object.
//-----------------------------------------

- var videosArray = Object.values(videos)