extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Soul's Beauty",
      subtitle: "Conheça a história da Soul's Beauty.",
      description: "Conheça a história da Soul's Beauty.",
      video: videos.soulsbeauty,
    }
  - var darkBG = true;