.button {
  cursor: pointer;
  
  font-size: .8rem;
  font-weight: 600;
  line-height: 1;

  padding: 12px 32px;

  color: white;
  border-radius: 30px;
  box-shadow: 0 12px 22px rgba(black, .12);

  &.--red { background: $color--red $gradient--red; }
}