.button {
  cursor: pointer;
  
  font-size: .9rem;
  font-weight: 500;
  line-height: 1;

  padding: 12px 32px;

  color: white;
  border-radius: 30px;
  box-shadow: 0 12px 22px rgba(black, .12);

  &.--red { background: $color--red $gradient--red; }
}