.cover {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  height: 100%;

  @extend %padding;
  padding-bottom: 3rem;

  background-color: #222222;
  background-size: cover;
  background-position: top center;

  @media screen and (min-height: 1024px) {
    max-height: 1024px;
  }

  @media screen and (max-width: 1023px) {
    .row { flex-direction: column; }
  }

  .play-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: none;

      @extend %title;
      @extend %--x-small;
      @extend %--light;

      letter-spacing: 1px;
      margin-left: 1rem;
    }

    @media screen and (max-width: 1023px) {
      position: relative;
      justify-content: flex-start;

      margin-bottom: 4rem;

      img {
        max-width: 30px;
      }

      span {
        display: block;
      }
    }
  }
  
  &-video {
    max-width: 40%;
  
    padding-top: 6rem;
    padding-bottom: 6rem;
  
    z-index: 1;

    @media screen and (max-width: 1023px) {
      max-width: 80%;
      padding-bottom: 1.4rem;
    }

    @media screen and (max-width: 375px) {
      padding-top: 2.5rem;
    }
  
    &--category {
      max-width: 140px;
  
      margin-bottom: 1.2rem;
  
      opacity: .8;
    }
  
    &--title {
      @extend %title;
      @extend %--big;
      @extend %--light;
  
      line-height: .8;
      margin-bottom: 1.2rem;
    }
  
    &--description {
      @extend %description;
      @extend %--normal;
      @extend %--light;
  
      font-weight: 500;
      line-height: 1.6;
  
      opacity: .8;
    }

    &--tag {
      display: inline-block;

      font-family: $font-family--title;
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      
      padding: .3rem 1rem;
      margin-bottom: 1rem;
      
      color: white;
      background-color: rgba(0,0,0,.4);
    }
  }
}

.watch-the-video {
  display: none;

  position: fixed;
  padding-bottom: 56.25%;
  // height: 0;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button {
    position: fixed;
    top: 10px;
    right: 15px;

    box-shadow: 0 12px 42px rgba(0,0,0,.2);
  }

  &.active {
    display: block;
  }
}
