.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: rgba(white, .9);
    backdrop-filter: blur(5px);

    visibility: hidden;
    opacity: 0;
    
    transform: translateY(-100%);

    transition: all 60ms ease;
  }

  &.--white { color: white; }
  &.--black { color: black; }
  
  .nav--link {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1;
    
    margin-right: 3rem;

    transition: all 260ms ease;
    
    &:hover {
      color: $color--red;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;

      margin: 0;
      padding: 1.4rem 4rem;

      border-bottom: 1px solid rgba(black, .1);
    }
  }
}

@media screen and (max-width: 767px) {
  .header.active .nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    transition: all 260ms ease;
  }
}