.scroll-down {
  position: relative;
  display: block;

  font-family: $font-family--text;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;

  margin: 1rem auto;

  transition: all 260ms ease;

  @media screen and (max-width: 480px) {
    font-size: .9rem;
  }

  &.--red { 
    color: $color--red; 

    &:after {
      background-image: url('/img/icons/icon-scroll-down--arrow-red.svg');
    }
  }
  &.--white { 
    color: white; 
    
    &:after {
      background-image: url('/img/icons/icon-scroll-down--arrow-white.svg');
    }
  }

  &:after {
    content: '';

    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1rem;
    height: 1rem;

    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    &:after {
      animation: bounceDown 800ms ease infinite alternate;
    }
  }
}