.serie-cover {
  position: relative;
  display: flex;

  width: calc(25% - 2rem);
  min-height: 430px;
  
  margin: 1rem;

  transition: all 260ms ease;

  &:hover {
    transform: scale(1.2);
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 30px;
    left: 30px;
    z-index: 0;

    box-shadow: 0 0 20px rgba(0,0,0,.40);
    border-radius: 100px / 10px;
  }

  &--bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: black;
    background-size: cover;
    background-position: center;
  }
  
  &--link {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    
    padding: 2rem 1.4rem;
    
    transition: all 260ms ease;

    & > * {
      transition: all 260ms ease;
    }

    & > *:not(.serie-cover--logo) {
      visibility: hidden;
      opacity: 0;
    }

    .serie-cover--logo {
      transform: translateY(270px)
    }

    &:hover {
      background: rgba(0,0,0,.40);

      & > * {
        visibility: visible;
        opacity: 1;
      }

      .serie-cover--logo {
        transform: translateY(0);
      }
    }
  }

  &--hidden-heading {
    display: none;
  }

  &--logo {
    width: 180px;

    margin-bottom: 1rem;
  }

  &--description {
    @extend %description;
    @extend %--x-small;
    @extend %--light;

    line-height: 1.6;
    text-align: center;
    
    margin-bottom: auto;
    
    opacity: .8;
  }

  &--button {
    display: flex;
    align-items: center;

    font-family: $font-family--title;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-top: 1rem;

    color: white;

    &-icon {
      display: inline-block;

      width: .7rem;
      height: .7rem;

      margin-left: 10px;

      background-image: url(/img/icons/icon-link--red.svg);
      background-size: cover;
      background-position: center;
    }
  }
}