.video-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: auto;
  min-height: 220px;
  max-height: 220px;
  width: 100%;

  margin: 1rem .5rem;
  padding: 1rem .8rem;

  transition: all 260ms ease-in-out;

  @media screen and (max-width: 480px) {
    max-height: 320px;
    min-height: 300px;

    margin: .5rem 0;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 30px;
    left: 30px;
    z-index: 0;

    box-shadow: 0 0 20px rgba(0,0,0,.40);
    border-radius: 100px / 10px;
  }
  
  & > *:not(.--minicover) {
    visibility: hidden;
    opacity: 0;

    transition: all 260ms ease-in-out;
  }

  &--bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: black;
    background-size: cover;
    background-position: center;
  }

  .video-card-header {
    display: flex;
    justify-content: space-between;

    width: 100%;

    &--category {
      max-width: 100px;
      opacity: .8;;
    }

    &--watch {
      position: relative;
      display: flex;
      align-items: center;

      font-family: $font-family--title;
      font-size: .75rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 1px;

      color: white;

      span {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;

        margin-right: 10px;

        background-image: url(/img/icons/icon-play--white.svg);
        background-size: cover;
        background-position: center;
      }
    }
  }
  
  .video-card-info {
    color: white;

    &--title {
      @extend %title;
      @extend %--small;
      @extend %--light;

      line-height: 1;

      margin-bottom: 5px;
    }

    &--extra {
      @extend %description;
      @extend %--small;
      @extend %--light;

      font-weight: 600;
      line-height: 1;

      margin-bottom: 5px;

      span {
        margin-right: 8px;
      }
    }

    &--description {
      @extend %description;
      @extend %--small;
      @extend %--light;

      font-weight: 500;

      opacity: .8;
    }

    &--tag {
      display: inline-block;

      font-family: $font-family--title;
      font-size: .6rem;
      text-transform: uppercase;
      letter-spacing: .05rem;
      
      padding: .1rem .6rem;
      margin-bottom: .5rem;
      
      color: white;
      background-color: rgba(0,0,0,.4);
    }
  }

  .video-card-header,
  .video-card-info {
    position: relative;
    z-index: 2;
  }

  &--link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 100;
  }

  &:hover {
    transform: scale(1.2);

    z-index: 3;

    @media screen and (max-width: 768px) {
      transform: scale(1.1);
    }

    & > *:not(.--minicover) {
      visibility: visible;
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    & > .video-card--link {
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (max-width: 480px) {
    & > *:not(.--minicover) {
      visibility: visible;
      opacity: 1;
    }
  }
}