extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Paulo Roberto",
      subtitle: "Ex-jogador do Grêmio, campeão da Libertadores.",
      description: "Conheça a história de vida de um dos maiores jogadores de futebol Brasileiro. Campeão mundial pelo Grêmio em 1983 e jogador da seleção brasileira em 1987. Ele foi o jogador que mais jogou em clubes de massa do Brasil.",
      video: videos.pauloroberto,
    }
  - var darkBG = true;