extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Dona Fulana",
      subtitle: "Doce nunca é demais.",
      description: "Conheça a história da Dona Fulana, uma rede de confeitarias com um conceito diferenciado que é um sucesso na grande Florianópolis e está com projeto de expansão no modelo de franquia.",
      video: videos.donafulana,
    }
  - var darkBG = true;