extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Morongo, Mormaii",
      subtitle: "Doutor, empreendedor e surfista.",
      description: "Existem jeitos e jeitos de lidar com negócios. E existe também o jeito do Morongo. O apelido, aliás, vem da infância. Marco Aurélio trazia umas pintinhas no rosto, semelhantes às existentes no morango... Conheça a História de vida do fundador da Mormaii. Médico, músico, surfista, visionário.",
      video: videos.morongomormaii,
    }
  - var darkBG = true;