extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "Fabrício Oliveira",
      subtitle: "Prefeito de Balneário Camboriú.",
      description: "Conheça a história de vida do atual prefeito de Balneário Camboriú (2016 - 2020) Ele foi o vereador mais jovem a ser eleito em Santa Catarina e Deputado federal.",
      video: videos.fabriciooliveira,
    }
  - var darkBG = true;