//-----------------------------------------
//-     SOCIAL SHARE COMPONENT
//- 
//-     This component displays a link as a Share Button, linking to a specific way to share to social networks.
//- 
//-    RECEIVES:
//-    * social {Object} – Receives an object, more specifically built to receive the [SITESOCIAL] and [SITESHARE] Objects.
//-    * share {Boolean} – If true, will show the "Compartilhar" text beside the icon.
//-
//-----------------------------------------


mixin socialShare(social, share)
  a.social-share--link(
    href=(social.url ? social.url : ""), 
    title="Compartilhe no " + social.name, 
    target="_blank",
    rel='noopener noreferrer')
        img.social-share--icon(src="/img/icons/icon-" + (share ? "share" : "social") + "--" + social.name + ".svg")
        if share
          span.social-share--text Compartilhar
