//- Social Attribute: will receive an object
//- 
//- Share Attribute: will receive a boolean
//-


mixin socialShare(social, share)
  a.social-share--link(
    href=(share ? social.url + (social.via ? social.via : '') + (social.related ? social.related : '') + (social.hashtags ? social.hashtags : '') + (social.text ? social.text : '') : social.url), 
    title="Compartilhe no " + social.name, 
    target="_blank",
    rel='noopener noreferrer')
        img.social-share--icon(src="/img/icons/icon-" + (share ? "share" : "social") + "--" + social.name + ".svg")
        if share
          span.social-share--text Compartilhar
