#home.page {
  background-color: white;

  .cover {
    padding-bottom: 200px;
  }

  .home-content {
    // background: radial-gradient(1969.54px at 50% 23.06%, #FFFFFF 0%, #F2F5F7 100%);
  }

}

.home-page {
  .nav .nav--link:nth-child(1) {
    color: $color--red;
    border-bottom-color: rgba($color--red, .4);
  }
}