#series.page {
  background: radial-gradient(1969.54px at 50% 23.06%, #FFFFFF 0%, #F2F5F7 100%);

  .series-header {
    @extend %padding;
    padding-top: 190px;
    padding-bottom: 80px;
    
    text-align: center;

    &--title {
      @extend %title;
      @extend %--big;
      @extend %--dark;

      margin-bottom: 1rem;
    }

    &--subtitle {
      @extend %subtitle;
      @extend %--dark;
    }
  }

  .series-categories {
    position: relative;

    max-width: 1100px;
    margin: auto;
    padding: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid $color--gray-light;

    @media screen and (max-width: 767px) {
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      padding: 2rem 0;
    }

    .series-category {
      position: relative;

      opacity: .4;
      transition: all 260ms ease;

      @media screen and (max-width: 767px) {
        flex: 0 0 auto;
        display: inline-flex;
        justify-content: center;
        
        padding: 0 1rem;
      }
      
      &--title {
        display: none;
      }
      &--logo {
        max-width: 180px;
        height: 42px;

        object-fit: contain;
        object-position: center;

        @media screen and (max-width: 1024px) {
          max-width: 150px;
          height: 38px;
        }

        @media screen and (max-width: 767px) {
          max-width: 130px;
          height: 32px;
        }
      }
      &:after {
        content: '';
        
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 2px;

        transform: translateY(2rem);
        
        transition: all 260ms ease;
      }

      &:hover {
        opacity: .8;
        
        &:after {
          background-color: $color--gray;
        }
      }
      
      &.active {
        opacity: 1;
        
        &:after {
          background-color: $color--red;
          box-shadow: 0 2px 2px $color--red;
        }
      }
    }
  }

  .series-videos {
    @extend %padding;

    .video-list {
      display: none;
      flex-wrap: wrap;

      @media screen and (max-width: 768px) {
        padding: 1rem 0;
      }

      .video-card {
        opacity: 0;
        max-width: calc(33% - 1rem);
        transition: all 260ms ease;

        @media screen and (max-width: 768px) {
          max-width: calc(50% - 1rem);
        }
        
        @media screen and (max-width: 767px) {
          max-width: 100%;
        }
      }
      
      &.active {
        display: flex;

        @for $i from 1 through 15 {
          .video-card:nth-child(#{$i}) {
            animation: fadeIn ease 1;
            animation-fill-mode: forwards;
            animation-duration: 760ms;
            animation-delay: 0s + ($i/8);
          }
        }
      }
    }
  }
}

.series-page {
  .nav .nav--link:nth-child(2) {
    color: $color--red;
    border-bottom-color: rgba($color--red, .4);
  }
}