#series.page {
  background: radial-gradient(1969.54px at 50% 23.06%, #FFFFFF 0%, #F2F5F7 100%);

  .series-header {
    padding-top: 190px;
    padding-right: calc((100vw - 1300px) / 2);
    padding-left: calc((100vw - 1300px) / 2);
    padding-bottom: 80px;
    
    text-align: center;

    &--title {
      @extend %title;
      @extend %--big;
      @extend %--dark;

      margin-bottom: 1rem;
    }

    &--subtitle {
      @extend %subtitle;
      @extend %--dark;
    }
  }

  .series-categories {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid $color--gray-light;

    .series-category {
      position: relative;

      opacity: .4;
      transition: all 260ms ease;
      
      &--title {
        display: none;
      }
      &--logo {
        max-width: 180px;
      }
      &:after {
        content: '';
        
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 2px;

        transform: translateY(2rem);
        
        transition: all 260ms ease;
      }

      &:hover {
        opacity: .8;
        
        &:after {
          background-color: $color--gray;
        }
      }
      
      &.active {
        opacity: 1;
        
        &:after {
          background-color: $color--red;
          box-shadow: 0 2px 2px $color--red;
        }
      }
    }
  }

  .series-videos {
    padding-right: calc((100vw - 1300px) / 2);
    padding-left: calc((100vw - 1300px) / 2);

    .video-list {
      display: none;
      flex-wrap: wrap;

      .video-card {
        opacity: 0;
        max-width: calc(33% - 1rem);
        transition: all 260ms ease;
      }
      
      &.active {
        display: flex;

        @for $i from 1 through 15 {
          .video-card:nth-child(#{$i}) {
            animation: fadeIn ease 1;
            animation-fill-mode: forwards;
            animation-duration: 760ms;
            animation-delay: 0s + ($i/8);
          }
        }
      }
    }
  }
}