<!DOCTYPE html>
html
  include ../includes/vars.pug
  block pageVars
    - var pageVars;
  include ../includes/head.pug
  include ../includes/data.pug
  include ../includes/components.pug

  body(class=page.meta ? page.meta + "-page" : "page")
    include ../sections/header.pug
    include ../includes/analytics/gtm-body.pug

    block content

    include ../sections/footer.pug  

    block scripts
      include ../includes/scripts.pug
    